@import "modules/utils/libs";

@import "modules/utils/vars";

@import "modules/utils/mixins";

html {
  height: 100%;
  font-size: $base-font-size;
  color: $black;
  background-color: #fff;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

.no-scroll {
  overflow: hidden;
}

*,
*::before,
*::after { box-sizing: border-box; }

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd { margin: 0; }

a:not([class]) { text-decoration-skip-ink: auto; }

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section {
  position: relative;
  overflow-x: hidden;
}

section.page-content {
  overflow-x: visible;
}

input,
select,
button { outline: none; }

textarea {
  outline: 0 none !important;
}

div {
  outline: 0 none !important;
}

@import "modules/fonts/fonts"; // Шрифты

@import "modules/grid/grid"; // Рабочая область (Контейнер)

@import "modules/header/header"; // Шапка

@import "modules/footer/footer"; // Подвал

@import "modules/popups/popups"; // Попапы

@import "modules/texts/texts"; // Заголовки и текстовые блоки

@import "modules/buttons/buttons"; // Кнопки

@import "modules/breadcrumbs/breadcrumbs"; // Хлебные крошки

@import "modules/pagination/pagination"; // Пагинация

@import "modules/animations/animations"; // Анимации


// Главная страница
@import "pages/index/hero";

@import "pages/index/services-index";

@import "pages/index/index-category";

@import "pages/index/index-consult";

@import "pages/index/index-about";

@import "pages/index/steps";

@import "pages/index/index-reviews";

@import "pages/index/faq";

@import "pages/index/seo";


// Услуги
@import "pages/services/services";

@import "pages/services/service-detail";


// Каталог
@import "pages/catalog/catalog";

@import "pages/catalog/catalog-list";

@import "pages/catalog/product";


// Отзывы
@import "pages/reviews/reviews";


// Блог
@import "pages/blog/blog";

@import "pages/blog/blog-post";


// О нас
@import "pages/about/about";


// Поиск
@import "pages/search/search";


// 404 страница
@import "pages/not-found/not-found";


// Общие блоки
@import "pages/common/accordion";

@import "pages/common/form";

@import "pages/common/product-slider";

@import "pages/common/blog";

@import "pages/common/instagram";

@import "pages/common/contacts";






