.container.page-container
    ul.breadcrumbs
        li.breadcrumbs-item
            a.breadcrumbs-item__link(href="/") Главная /
        li.breadcrumbs-item.breadcrumbs__item--active О нас
    h1.page-title.page-title__post О нас
section.page-content.page-about
    .container
        .about-top
            .about-top__content
                h2.title-line Lorem ipsum dolor
                p(data-enllax-ratio=".2" data-enllax-type="foreground") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                p(data-enllax-ratio=".2" data-enllax-type="foreground") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .about-top__image
                img(src="/static/images/general/about-top.png", alt="Дом под замком")
        .about-center
            .about-center__preview(data-enllax-ratio=".1" data-enllax-type="foreground")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .about-center__wrapper
                .about-center__wrapper-left(data-enllax-ratio=".1" data-enllax-type="foreground")
                    img(src="/static/images/general/about-2.jpg", alt="Дом под замком")
                .about-center__wrapper-right(data-enllax-ratio="-.1" data-enllax-type="foreground")
                    h2.title-line Lorem ipsum dolor
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        .about-bottom
            .about-bottom__wrapper
                .about-bottom__wrapper-left(data-enllax-ratio=".2" data-enllax-type="foreground")
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                .about-bottom__wrapper-right
                    img(src="/static/images/general/about-4.jpg", alt="Дом под замком" data-enllax-ratio="-.1" data-enllax-type="foreground")
                .about-bottom__wrapper-right
            .about-bottom__title Цель
            .about-bottom__wrapper
                .about-bottom__wrapper-left
                        img(src="/static/images/general/about-3.jpg", alt="Дом под замком" data-enllax-ratio=".1" data-enllax-type="foreground")
                .about-bottom__wrapper-right(data-enllax-ratio=".2" data-enllax-type="foreground")
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

include ../blocks/common/instagram
        
include ../blocks/common/form