.container.container--page
    ul.breadcrumbs
        li.breadcrumbs-item
            a.breadcrumbs-item__link(href="/") Главная /
        li.breadcrumbs__item.breadcrumbs__item--active Блог
    h1.page-title Блог
    section.page-content
        .blog-list
            .blog-item
                .blog-item__left
                    a(href="/blog-post.html")
                        .blog-item__img-overlay
                        img.blog-item__img(src="/static/images/general/blog-item.jpg", alt="")
                .blog-item__right
                    h2.blog-item__title Входные двери с зеркалом - плюсы и минусы
                    .blog-item__preview
                        p Последние несколько лет наблюдается тенденция - входные двери с зеркалом становятся популярными. В этой статье разбираем, какие есть преимущества и недостатки у такого решения.
                    a.blog-item__link(href="/blog-post.html") Подробнее
            .blog-item
                .blog-item__left
                    a(href="/blog-post.html")
                        .blog-item__img-overlay
                        img.blog-item__img(src="/static/images/general/blog-item.jpg", alt="")
                .blog-item__right
                    h2.blog-item__title Входные двери с зеркалом - плюсы и минусы
                    .blog-item__preview
                        p Последние несколько лет наблюдается тенденция - входные двери с зеркалом становятся популярными. В этой статье разбираем, какие есть преимущества и недостатки у такого решения.
                    a.blog-item__link(href="/blog-post.html") Подробнее
            .blog-item
                .blog-item__left
                    a(href="/blog-post.html")
                        .blog-item__img-overlay
                        img.blog-item__img(src="/static/images/general/blog-item.jpg", alt="")
                .blog-item__right
                    h2.blog-item__title Входные двери с зеркалом - плюсы и минусы
                    .blog-item__preview
                        p Последние несколько лет наблюдается тенденция - входные двери с зеркалом становятся популярными. В этой статье разбираем, какие есть преимущества и недостатки у такого решения.
                    a.blog-item__link(href="/blog-post.html") Подробнее
            .blog-item
                .blog-item__left
                    a(href="/blog-post.html")
                        .blog-item__img-overlay
                        img.blog-item__img(src="/static/images/general/blog-item.jpg", alt="")
                .blog-item__right
                    h2.blog-item__title Входные двери с зеркалом - плюсы и минусы
                    .blog-item__preview
                        p Последние несколько лет наблюдается тенденция - входные двери с зеркалом становятся популярными. В этой статье разбираем, какие есть преимущества и недостатки у такого решения.
                    a.blog-item__link(href="/blog-post.html") Подробнее
            .blog-item
                .blog-item__left
                    a(href="/blog-post.html")
                        .blog-item__img-overlay
                        img.blog-item__img(src="/static/images/general/blog-item.jpg", alt="")
                .blog-item__right
                    h2.blog-item__title Входные двери с зеркалом - плюсы и минусы
                    .blog-item__preview
                        p Последние несколько лет наблюдается тенденция - входные двери с зеркалом становятся популярными. В этой статье разбираем, какие есть преимущества и недостатки у такого решения.
                    a.blog-item__link(href="/blog-post.html") Подробнее
        include ../blocks/common/pagination