.container.page-container
    ul.breadcrumbs
        li.breadcrumbs-item
            a.breadcrumbs-item__link(href="/") Главная /
        li.breadcrumbs-item.breadcrumbs__item--active Блог
    h1.page-title Блог
    section.page-content
        .blog-list
            .blog-item
                .blog-item__left
                    a(href="/blog-post.html")
                        .blog-item__img-overlay
                        img.blog-item__img(src="/static/images/general/blog-item.jpg", alt="")
                .blog-item__right
                    h2.blog-item__title Входные двери с зеркалом - плюсы и минусы
                    .blog-item__preview
                        p Последние несколько лет наблюдается тенденция - входные двери с зеркалом становятся популярными. В этой статье разбираем, какие есть преимущества и недостатки у такого решения.
                    a.blog-item__link(href="/blog-post.html") Подробнее
            .blog-item
                .blog-item__left
                    a(href="/blog-post.html")
                        .blog-item__img-overlay
                        img.blog-item__img(src="/static/images/general/blog-item.jpg", alt="")
                .blog-item__right
                    h2.blog-item__title Входные двери с зеркалом - плюсы и минусы
                    .blog-item__preview
                        p Последние несколько лет наблюдается тенденция - входные двери с зеркалом становятся популярными. В этой статье разбираем, какие есть преимущества и недостатки у такого решения.
                    a.blog-item__link(href="/blog-post.html") Подробнее
            .blog-item
                .blog-item__left
                    a(href="/blog-post.html")
                        .blog-item__img-overlay
                        img.blog-item__img(src="/static/images/general/blog-item.jpg", alt="")
                .blog-item__right
                    h2.blog-item__title Входные двери с зеркалом - плюсы и минусы
                    .blog-item__preview
                        p Последние несколько лет наблюдается тенденция - входные двери с зеркалом становятся популярными. В этой статье разбираем, какие есть преимущества и недостатки у такого решения.
                    a.blog-item__link(href="/blog-post.html") Подробнее
            .blog-item
                .blog-item__left
                    a(href="/blog-post.html")
                        .blog-item__img-overlay
                        img.blog-item__img(src="/static/images/general/blog-item.jpg", alt="")
                .blog-item__right
                    h2.blog-item__title Входные двери с зеркалом - плюсы и минусы
                    .blog-item__preview
                        p Последние несколько лет наблюдается тенденция - входные двери с зеркалом становятся популярными. В этой статье разбираем, какие есть преимущества и недостатки у такого решения.
                    a.blog-item__link(href="/blog-post.html") Подробнее
            .blog-item
                .blog-item__left
                    a(href="/blog-post.html")
                        .blog-item__img-overlay
                        img.blog-item__img(src="/static/images/general/blog-item.jpg", alt="")
                .blog-item__right
                    h2.blog-item__title Входные двери с зеркалом - плюсы и минусы
                    .blog-item__preview
                        p Последние несколько лет наблюдается тенденция - входные двери с зеркалом становятся популярными. В этой статье разбираем, какие есть преимущества и недостатки у такого решения.
                    a.blog-item__link(href="/blog-post.html") Подробнее
            ul.pagination
                li.page-item.disabled
                    a.page-link(href="#") Первая
                li.pagination-prev.disabled
                    a(href="")
                        i.fa.fa-angle-double-left(aria-hidden="true")
                    a.pagination-item.pagination-item__current(href="#") 1
                    a.pagination-item(href="#") 2
                    a.pagination-item(href="#") 3
                    a.pagination-item(href="#") 4
                    a.pagination-item(href="#") 5
                li.pagination-next
                    a(href="#")
                        i.fa.fa-angle-double-right(aria-hidden="true")
                li.page-item
                    a.page-link(href="#") Последняя