.container.page-container
    ul.breadcrumbs
        li.breadcrumbs-item
            a.breadcrumbs-item__link(href="/") Главная /
        li.breadcrumbs-item
            a.breadcrumbs-item__link(href="/") Блог /
        li.breadcrumbs-item.breadcrumbs__item--active Входные двери с зеркалом - плюсы и минусы
    h1.page-title.page-title__post Входные двери с зеркалом - плюсы и минусы
    section.page-content
        .page-additional
            p Последние несколько лет наблюдается тенденция - входные двери с зеркалом становятся популярными. В этой статье разбираем, какие есть преимущества и недостатки у такого решения.
        .blog-post__wrapper
            .blog-post__wrapper-left
                h2 Как зеркало устанавливается на дверь?
                p Есть несколько вариантов крепления: 
                p Врезной метод (В этом случае на заводе зеркало монтируется крепежными элементами на дверь. Если проще - то зеркало винтами крепят к панели).
                p Приклеивание (Зеркальная панель с помощью строительного клея или специального двухстороннего скотча приклеивают к панели двери. При использовании качественных клейких материалов такая установка не уступает по прочности крепежным элементам.)
            .blog-post__wrapper-right
                img(src="/static/images/general/blog-item.jpg", alt="Входные двери с зеркалом - плюсы и минусы")
        .blog-post__content
            h2 Плюсы входной двери с зеркалом
            
            p Неспроста двери с зеркалом так нравятся покупателям. Это объясняется большим количеством преимуществ:
            
            h3 Зеркало визуально расширяет пространство
            
            p Сейчас в современных квартирах застройщики делают прихожей маленькой, а площадь отдают на более важные помещения - кухню, спальню, гостиную, санузел. И даже если новоселы покупают квартиру со свободной планировкой, зачастую и сами принимают решение сэкономить пространство на прихожей.
            
            p Все дизайнеры интерьера знают этот прием - расширить пространство и наполнить его светом с помощью зеркал. В этом случае входная дверь с зеркалом во всю панель - оптимальный вариант.
            
            h3 Экономит пространство
            
            p Сейчас в современных квартирах застройщики делают прихожей маленькой, а площадь отдают на более важные помещения - кухню, спальню, гостиную, санузел. И даже если новоселы покупают квартиру со свободной планировкой, зачастую и сами принимают решение сэкономить пространство на прихожей.
            
            p Все дизайнеры интерьера знают этот прием - расширить пространство и наполнить его светом с помощью зеркал. В этом случае входная дверь с зеркалом во всю панель - оптимальный вариант.
            
            h3 Выполняет функциональную задачу
            
            p Кому не хочется посмотреть на себя в готовом “луке” перед выходом? Убедиться, что образ подобран правильно, что на пальто нет пятен, а платье не выглядит мятым. Дверь - последнее, что мы видим перед выходом из дома и потому разместить зеркало на ней удобно.
            
            h2 Минусы входной двери с зеркалом
            
            p Несмотря на все преимущества, у входных дверей с зеркалом есть и свои недостатки.
            
            h3 Может разбиться
            p Наиболее существенный минус такой двери. Однако справедливо заметить, что это свойство любого зеркала - разбиваться при сильном ударе. В такой же опасности и шкафы-купе с зеркальными панелями, и отдельное зеркало в пол.
            

            p Главное выбирать такую дверь, чтобы зеркало на ней не разлетелось на осколки. Об этом вы можете уточнить в магазине или в салоне.
            
            h3 Зеркало пачкается

            p И снова - как и любое зеркало. Да, нужно будет чаще протирать специальным средством для мытья стекол, чтобы дверь сохраняла презентабельный вид. Так же, как отдельное напольное зеркало и тем более зеркало на шкафе.

            h2 Где купить входную дверь с зеркалом?

            p Мы уже выяснили, что зеркало на входной двери должно быть качественным и крепко установлено на панель

            p Именно поэтому важно выбирать надежного производителя входных дверей, который соблюдает все нормы при производстве и отвечает за качество своей продукции.

            .btn-wrapper.btn-wrapper__blog
                a.btn.btn__brown(href="#") В каталог
                
include ../blocks/common/blog