.container.container--page
    ul.breadcrumbs
        li.breadcrumbs-item
            a.breadcrumbs-item__link(href="/") Главная /
        li.breadcrumbs-item
            a.breadcrumbs-item__link(href="/") Каталог /
        li.breadcrumbs__item.breadcrumbs__item--active Бренды
    h1.page-title Бренды
    section.page-content
        .brand-page__content
            p Мы гордимся тем, что наши двери производятся в соответствии с отечественными и европейскими стандартами безопасности и качества.
            p Мы гордимся тем, что наши двери производятся в соответствии с отечественными и европейскими стандартами безопасности и качества.
        .brand__list
            .brand__item
                a.brand__item-link(href="/brand-detail.html")
                    img.brand__item-img(src="/static/images/general/logo-manuf.png", alt="")
            .brand__item
                a.brand__item-link(href="/brand-detail.html")
                    img.brand__item-img(src="/static/images/general/logo-manuf.png", alt="")
            .brand__item
                a.brand__item-link(href="/brand-detail.html")
                    img.brand__item-img(src="/static/images/general/logo-manuf.png", alt="")
            .brand__item
                a.brand__item-link(href="/brand-detail.html")
                    img.brand__item-img(src="/static/images/general/logo-manuf.png", alt="")
            .brand__item
                a.brand__item-link(href="/brand-detail.html")
                    img.brand__item-img(src="/static/images/general/logo-manuf.png", alt="")