section.catalog
    .container
        .catalog-wrapper
            .catalog-list
                .catalog-item
                    a.catalog-item__link(href="/catalog-list.html")
                        img.catalog-item__img.catalog-item__img-right(src="/static/images/general/index-about.jpg", alt="")
                        h2.catalog-item__title Входные двери
                .catalog-item
                    a.catalog-item__link(href="/catalog-list.html")
                        img.catalog-item__img.catalog-item__img-left(src="/static/images/general/index-about.jpg", alt="")
                        h2.catalog-item__title Тамбурные двери
                .catalog-item
                    a.catalog-item__link(href="/catalog-list.html")
                        img.catalog-item__img.catalog-item__img-right(src="/static/images/general/index-about.jpg", alt="")
                        h2.catalog-item__title Противопожарные двери