section.hero
    .container
        .hero-slider
            .hero-slider__item
                .hero-slider__item-left
                    h2.hero-title Монтаж входной двери
                    .hero-description
                        p От качества установки напрямую зависит то, как будет служить дверь, мы уделяем вопросу установки дверных конструкций самое пристальное внимание.
                    .btn-wraper
                        a.btn.btn-beige(href="#") Подробнее
                .hero-slider__item-right
                    .circle-bg
                        .circle-big
                            img(src="/static/images/general/circle-big.png", alt="")
                        .circle-small
                            img(src="/static/images/general/circle-small.png", alt="")
                    .hero-img
                        img(src="/static/images/general/slider-img.png", alt="Монтаж входной двери")
            .hero-slider__item
                .hero-slider__item-left
                    h2.hero-title Монтаж входной двери 2
                    .hero-description
                        p От качества установки напрямую зависит то, как будет служить дверь, мы уделяем вопросу установки дверных конструкций самое пристальное внимание.
                    .btn-wraper
                        a.btn.btn-beige(href="#") Подробнее
                .hero-slider__item-right
                    .circle-bg
                        .circle-big
                            img(src="/static/images/general/circle-big.png", alt="")
                        .circle-small
                            img(src="/static/images/general/circle-small.png", alt="")
                    .hero-img
                        img(src="/static/images/general/slider-img.png", alt="Монтаж входной двери")
            .hero-slider__item
                .hero-slider__item-left
                    h2.hero-title Монтаж входной двери 3
                    .hero-description
                        p От качества установки напрямую зависит то, как будет служить дверь, мы уделяем вопросу установки дверных конструкций самое пристальное внимание.
                    .btn-wraper
                        a.btn.btn-beige(href="#") Подробнее
                .hero-slider__item-right
                    .circle-bg
                        .circle-big
                            img(src="/static/images/general/circle-big.png", alt="")
                        .circle-small
                            img(src="/static/images/general/circle-small.png", alt="")
                    .hero-img
                        img(src="/static/images/general/slider-img.png", alt="Монтаж входной двери")
        .hero-slider__nav
            .slider-nav
                .arrow-prev#hero-prev
                    img(src="/static/images/general/arrow-left.svg", alt="")
                .arrow-next#hero-next
                    img(src="/static/images/general/arrow-right.svg", alt="")

section.services
    .bg-title__right Услуги
    .container
        h2.title-line Что мы предлагаем
        .service-slider__list
            .service-slider__item
                .service-slider__item-bg
                    img(src="/static/images/general/plug.jpg", alt="")
                h2.service-slider__item-title Монтаж
                p.service-slider__item-subtitle Входной двери
                .btn-wraper
                    a.btn.btn-brown(href="#") Подробнее
                .service-slider__item-descr
                    p Двери устанавливаются высококвалифицированными специалистами нашей компании. 
                    p Таким образом вы можете гарантировать высокое качество установки и долгую безотказную службу дверной конструкции.
            .service-slider__item
                .service-slider__item-bg
                    img(src="/static/images/general/plug.jpg", alt="")
                h2.service-slider__item-title Замер
                p.service-slider__item-subtitle На выезд
                .btn-wraper
                    a.btn.btn-brown(href="#") Подробнее
                .service-slider__item-descr
                    p Именно замер – наиболее ответственный этап установки дверей.
                    p Точность замера – гарантия безошибочной проектировки входной конструкции и последующей безупречной службы Ваших дверей!
            .service-slider__item
                .service-slider__item-bg
                    img(src="/static/images/general/plug.jpg", alt="")
                h2.service-slider__item-title Доставка
                p.service-slider__item-subtitle На дом
                .btn-wraper
                    a.btn.btn-brown(href="#") Подробнее
                .service-slider__item-descr
                    p Доставка выбранной дверной конструкции производится на собственном транспорте компании на следующий день после оформления заказа.
                    p При необходимости наши сотрудники поднимут дверь на нужный этаж. Время доставки выбирает заказчик.
section.action
    include ../modules/form/form

section.index-category
    .bg-title__left Товары
    .container
        h2.title-line Какие двери бывают?
        .index-category__wrap
            .index-category__wrap-left
                .index-category__list
                    .index-category__item.index-category__item_active
                        h3 Входные
                    .index-category__item
                        h3 Тамбурные
                    .index-category__item
                        h3 Противопожарные
                .index-category__list-desc
                    .index-category__item-desc.index-category__item-desc_active
                        p Это одна из визитных карточек любого дома, будь то обычная квартира, или коттедж, или даже промышленное предприятие.
                        .btn-wraper
                            a.btn.btn-light__brown(href="#") Подробнее
            .index-category__wrap-right
                .index-category__list-img
                    .index-category__item-img.index-category__item-img_active
                        .index-category__img-small
                            img(src="/static/images/general/category-small.jpg", alt="")
                        .index-category__img-big
                            img(src="/static/images/general/category-big.jpg", alt="")
                .index-category__wrap-nav
                    .index-category__wrap-nav_current 01
                    .index-category__wrap-nav_separator
                    .index-category__wrap-nav_total 02
