include ../blocks/index/hero
include ../blocks/index/services-index
include ../blocks/common/form
include ../blocks/index/index-category
include ../blocks/index/index-catalog
include ../blocks/index/index-consult
include ../blocks/index/index-about
include ../blocks/index/steps
include ../blocks/common/form
include ../blocks/common/instagram
include ../blocks/index/index-reviews
include ../blocks/index/faq
include ../blocks/index/seo
include ../blocks/index/contacts
include ../blocks/common/blog