section.hero
    .container
        .hero-slider
            .hero-slider__item
                .hero-slider__item-left
                    h2.hero-title Монтаж входной двери
                    .hero-description
                        p От качества установки напрямую зависит то, как будет служить дверь, мы уделяем вопросу установки дверных конструкций самое пристальное внимание.
                    .btn-wrapper
                        a.btn.btn-beige(href="#") Подробнее
                .hero-slider__item-right
                    .circle-bg
                        .circle-big
                            img(src="/static/images/general/circle-big.png", alt="")
                        .circle-small
                            img(src="/static/images/general/circle-small.png", alt="")
                    .hero-img
                        img(src="/static/images/general/slider-img.png", alt="Монтаж входной двери")
            .hero-slider__item
                .hero-slider__item-left
                    h2.hero-title Монтаж входной двери 2
                    .hero-description
                        p От качества установки напрямую зависит то, как будет служить дверь, мы уделяем вопросу установки дверных конструкций самое пристальное внимание.
                    .btn-wrapper
                        a.btn.btn-beige(href="#") Подробнее
                .hero-slider__item-right
                    .circle-bg
                        .circle-big
                            img(src="/static/images/general/circle-big.png", alt="")
                        .circle-small
                            img(src="/static/images/general/circle-small.png", alt="")
                    .hero-img
                        img(src="/static/images/general/slider-img.png", alt="Монтаж входной двери")
            .hero-slider__item
                .hero-slider__item-left
                    h2.hero-title Монтаж входной двери 3
                    .hero-description
                        p От качества установки напрямую зависит то, как будет служить дверь, мы уделяем вопросу установки дверных конструкций самое пристальное внимание.
                    .btn-wrapper
                        a.btn.btn-beige(href="#") Подробнее
                .hero-slider__item-right
                    .circle-bg
                        .circle-big
                            img(src="/static/images/general/circle-big.png", alt="")
                        .circle-small
                            img(src="/static/images/general/circle-small.png", alt="")
                    .hero-img
                        img(src="/static/images/general/slider-img.png", alt="Монтаж входной двери")
        .hero-slider__nav
            .slider-nav
                .arrow-prev#hero-prev
                    img(src="/static/images/general/arrow-left.svg", alt="")
                .arrow-next#hero-next
                    img(src="/static/images/general/arrow-right.svg", alt="")

section.services-index
    .bg-title__right Услуги
    .container
        h2.title-line Что мы предлагаем
        .service-slider__list
            .service-slider__item
                .service-slider__item-bg
                    img(src="/static/images/general/plug.jpg", alt="")
                h2.service-slider__item-title Монтаж
                p.service-slider__item-subtitle Входной двери
                .btn-wrapper
                    a.btn.btn-brown(href="#") Подробнее
                .service-slider__item-descr
                    p Двери устанавливаются высококвалифицированными специалистами нашей компании. 
                    p Таким образом вы можете гарантировать высокое качество установки и долгую безотказную службу дверной конструкции.
            .service-slider__item
                .service-slider__item-bg
                    img(src="/static/images/general/plug.jpg", alt="")
                h2.service-slider__item-title Замер
                p.service-slider__item-subtitle На выезд
                .btn-wrapper
                    a.btn.btn-brown(href="#") Подробнее
                .service-slider__item-descr
                    p Именно замер – наиболее ответственный этап установки дверей.
                    p Точность замера – гарантия безошибочной проектировки входной конструкции и последующей безупречной службы Ваших дверей!
            .service-slider__item
                .service-slider__item-bg
                    img(src="/static/images/general/plug.jpg", alt="")
                h2.service-slider__item-title Доставка
                p.service-slider__item-subtitle На дом
                .btn-wrapper
                    a.btn.btn-brown(href="#") Подробнее
                .service-slider__item-descr
                    p Доставка выбранной дверной конструкции производится на собственном транспорте компании на следующий день после оформления заказа.
                    p При необходимости наши сотрудники поднимут дверь на нужный этаж. Время доставки выбирает заказчик.

section.action
    include ../modules/form/form

section.index-category
    .bg-title__left Товары
    .container
        h2.title-line Какие двери бывают?
        .index-category__wrap
            .index-category__wrap-left
                .index-category__list
                    .index-category__item.index-category__item_active
                        h3 Входные
                    .index-category__item
                        h3 Тамбурные
                    .index-category__item
                        h3 Противопожарные
                .index-category__list-desc(data-slider="category")
                    .index-category__item-desc
                        p Это одна из визитных карточек любого дома, будь то обычная квартира, или коттедж, или даже промышленное предприятие.
                        .btn-wrapper
                            a.btn.btn-light__brown(href="#") Подробнее
                    .index-category__item-desc
                        p 2 Это одна из визитных карточек любого дома, будь то обычная квартира, или коттедж, или даже промышленное предприятие.
                        .btn-wrapper
                            a.btn.btn-light__brown(href="#") Подробнее
                    .index-category__item-desc
                        p 3 Это одна из визитных карточек любого дома, будь то обычная квартира, или коттедж, или даже промышленное предприятие.
                        .btn-wrapper
                            a.btn.btn-light__brown(href="#") Подробнее
            .index-category__wrap-right
                .index-category__list-img(data-slider="category")
                    .index-category__item-img
                        .index-category__img-small
                            img(src="/static/images/general/category-small.jpg", alt="")
                        .index-category__img-big
                            img(src="/static/images/general/category-big.jpg", alt="")
                    .index-category__item-img
                        .index-category__img-small
                            img(src="/static/images/general/category-big.jpg", alt="")
                        .index-category__img-big
                            img(src="/static/images/general/category-small.jpg", alt="")
                    .index-category__item-img
                        .index-category__img-small
                            img(src="/static/images/general/category-small.jpg", alt="")
                        .index-category__img-big
                            img(src="/static/images/general/category-big.jpg", alt="")
                .index-category__wrap-nav
                    .index-category__wrap-nav_current  0<span id="current">1</span>
                    .index-category__wrap-nav_separator
                    .index-category__wrap-nav_total 0<span id="total">0</span>

section.index-catalog
    .container
        .catalog-slider__wrapper
            .catalog-slider__wrapper-left
                h3 Успейте купить
                .catalog-slider__nav
                    .slider-nav
                        .arrow-prev#catalog-prev
                            img(src="/static/images/general/arrow-left-brown.svg", alt="")
                        .arrow-next#catalog-next
                            img(src="/static/images/general/arrow-right-brown.svg", alt="")
            .catalog-slider__wrapper-right
                .product-slider__list
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn-light__brown(href="#") Купить
                            .btn-wrapper
                                a.btn.btn-brown__outline(href="#") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn-light__brown(href="#") Купить
                            .btn-wrapper
                                a.btn.btn-brown__outline(href="#") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn-light__brown(href="#") Купить
                            .btn-wrapper
                                a.btn.btn-brown__outline(href="#") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn-light__brown(href="#") Купить
                            .btn-wrapper
                                a.btn.btn-brown__outline(href="#") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn-light__brown(href="#") Купить
                            .btn-wrapper
                                a.btn.btn-brown__outline(href="#") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn-light__brown(href="#") Купить
                            .btn-wrapper
                                a.btn.btn-brown__outline(href="#") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                .slider-progress_bar#progressBarProduct(role="progressbar" aria-valuemin="0" aria-valuemax="100")

section.index-consult
    .container
        .index-consult__wrapper
            .consult-info
                h2.title-line Не знаете что выбрать?
                .consult-info__subtitle
                    p Мы готовы предложить клиентам более 2 000 металлических дверей различных стилей и ценовых категорий: от эконом-класса до элитных моделей.
            h3 Наши опытные консультанты<br>помогут с выбором.
            .btn-wrapper
                a.btn.btn-brown(href="#") Оставить заявку

section.index-about
    .bg-title__right О нас
    .container
        .index-about__wrapper
            .index-about__wrapper-left
                .index-about__info-first
                    p Мы успешно работаем уже более десяти лет и гордимся заслуженными добрыми отзывами наших клиентов!
                    p Мы гарантируем своим покупателям качество нашей продукции и услуг.
                .index-about__info-link
                    a(href="#") Подробнее
                .index-about__info-second
                    p Мы гордимся тем, что наши двери производятся в соответствии с отечественными и европейскими стандартами безопасности и качества.
                    p Это значит, что вы приобретаете у нас не просто стильные и привлекательные внешне, но качественные и надёжные дверные конструкции, которые защитят вашу квартиру от холода и шума, огня и действий грабителей.
            .index-about__wrapper-right
                .index-about__img
                    img(src="/static/images/general/index-about.jpg", alt="")
        .advantage-list
            .advantage-item
                .advantage-item__img
                    img(src="/static/images/general/advantage-1.svg", alt="")
                .advantage-item__title
                   h5 Опыт
                .advantage-item__desc
                    p Мы успешно работаем уже более десяти лет
            .advantage-item
                .advantage-item__img
                    img(src="/static/images/general/advantage-2.svg", alt="")
                .advantage-item__title
                   h5 Качество
                .advantage-item__desc
                    p Даем гарантию на все виды исполняемых работ
            .advantage-item
                .advantage-item__img
                    img(src="/static/images/general/advantage-3.svg", alt="")
                .advantage-item__title
                   h5 Ассортимент
                .advantage-item__desc
                    p Мы готовы предложить  более 2 000  дверей 
            .advantage-item
                .advantage-item__img
                    img(src="/static/images/general/advantage-4.svg", alt="")
                .advantage-item__title
                   h5 Консультация
                .advantage-item__desc
                    p Большой опыт и высокое качество обслуживания

section.steps
    .container
        h2.title-line Как мы работаем?
        .step-list
            .step-item
                p.step-item__number 1
                h3.step-item__title Вы оставляете заявку<br>и наш менеджер с вами связывается
                .step-item__info
                    p Небольшой пример к чему может привести ошибка при самостоятельном выборе двери — в частных домах из бруса или бревна, если при монтаже дверного блока не предусмотреть необходимость установки плавающего бруса.
            .step-item
                p.step-item__number 2
                h3.step-item__title Согласовываем товар и виды услуг,<br>выбираем удобное для вас время
                .step-item__info
                    p Замерщик всегда с собой имеет иллюстрированный каталог дверей и панелей, а также образцы материалов и палитру цветов, с которым вы сможете ознакомиться и определиться в вашем выборе.
                    p Так же и с панелями – на некоторые модели дверей могут устанавливаться только определенные панели.
            .step-item
                p.step-item__number 3
                h3.step-item__title Привозим, и устанавливаем<br>вашу новую дверь
                .step-item__info
                    p Все дверные блоки, установленные нашей компанией находятся на гарантийном обслуживании. Срок гарантийного обслуживания на дверной блок(конструкцию) и замки — 5 лет, срок гарантии на фурнитуру и декоративные отделочные панели — 1 год.

section.action
    include ../modules/form/form

section.instagram
    .container
        .instagram-top
            h2.title-line Наши работы в Instagram
            .instagram-link
                a(href="#") @dom_pod_zamkom
            .instagram-slider__nav
                .slider-nav
                    .arrow-prev#inst-prev
                        img(src="/static/images/general/arrow-left-brown.svg", alt="")
                    .arrow-next#inst-next
                        img(src="/static/images/general/arrow-right-brown.svg", alt="")
        .instagram-slider__list
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wrapper
                            a.btn.btn-light__brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wrapper
                            a.btn.btn-light__brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wrapper
                            a.btn.btn-light__brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wrapper
                            a.btn.btn-light__brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wrapper
                            a.btn.btn-light__brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wrapper
                            a.btn.btn-light__brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
        .slider-progress_bar#progressBarInstagram(role="progressbar" aria-valuemin="0" aria-valuemax="100")
section.index-reviews
    .bg-title__left Отзывы
    .container
        .index-reviews__wrapper
            .index-reviews__wrapper-left
                h2 Что о нас<br>говорят
            .index-reviews__wrapper-right
                .index-reviews__container
                    .reviews-slider__nav
                        .slider-nav
                            .arrow-prev#reviews-prev
                                img(src="/static/images/general/arrow-left.svg", alt="")
                            .arrow-next#reviews-next
                                img(src="/static/images/general/arrow-right.svg", alt="")
                    .review-slider___list
                        .review-slider___item
                            p.review-author__name Ольга Антипова
                            .review-author__text
                                p Огромное спасибо за дверь. Она превзошла все наши ожидания. Отдельное спасибо Алексею, помог с выбором, проконсультировал по всем вопросам, постоянно был с нами на связи.
                        .review-slider___item
                            p.review-author__name Ольга Антипова 2
                            .review-author__text
                                p Огромное спасибо за дверь. Она превзошла все наши ожидания. Отдельное спасибо Алексею, помог с выбором, проконсультировал по всем вопросам, постоянно был с нами на связи.
                        .review-slider___item
                            p.review-author__name Ольга Антипова 3
                            .review-author__text
                                p Огромное спасибо за дверь. Она превзошла все наши ожидания. Отдельное спасибо Алексею, помог с выбором, проконсультировал по всем вопросам, постоянно был с нами на связи.
                        .review-slider___item
                            p.review-author__name Ольга Антипова 4
                            .review-author__text
                                p Огромное спасибо за дверь. Она превзошла все наши ожидания. Отдельное спасибо Алексею, помог с выбором, проконсультировал по всем вопросам, постоянно был с нами на связи.  
                    .reviews-slider__dots
section.faq
    .container
        h2.title-line Хотите узнать больше?
        .faq-wrapper
            .accordion-list
                .accordion-item.accordion-item_active
                    .accordion-item__title
                        h3 Какова окончательная стоимость работ? <span class="accordion-item__icon accordion-item__icon_active"></span>
                    .accordion-item__content
                        p Итоговую сумму работ любой мастер может озвучить лишь после демонтажа старой двери, до начала работ можно лишь предполагать опираясь на опыт и знания а это примерно 90% вероятности попадания в точный перечень работ озвученный до и после завершения монтажа.
                        p Именно по этой причине мы советуем сначала вызвать замерщика и только после покупать дверь, будет меньше неприятных неожиданностей и зачастую даже сэкономит ваши деньги на дополнительных работах так как размеры двери которую посоветует мастер будет максимально подходящей для вашего проёма.
                .accordion-item
                    .accordion-item__title
                        h3 Какова окончательная стоимость работ? <span class="accordion-item__icon"></span>
                    .accordion-item__content
                        p Итоговую сумму работ любой мастер может озвучить лишь после демонтажа старой двери, до начала работ можно лишь предполагать опираясь на опыт и знания а это примерно 90% вероятности попадания в точный перечень работ озвученный до и после завершения монтажа.
                        p Именно по этой причине мы советуем сначала вызвать замерщика и только после покупать дверь, будет меньше неприятных неожиданностей и зачастую даже сэкономит ваши деньги на дополнительных работах так как размеры двери которую посоветует мастер будет максимально подходящей для вашего проёма.
                .accordion-item
                    .accordion-item__title
                        h3 Какова окончательная стоимость работ? <span class="accordion-item__icon"></span>
                    .accordion-item__content
                        p Итоговую сумму работ любой мастер может озвучить лишь после демонтажа старой двери, до начала работ можно лишь предполагать опираясь на опыт и знания а это примерно 90% вероятности попадания в точный перечень работ озвученный до и после завершения монтажа.
                        p Именно по этой причине мы советуем сначала вызвать замерщика и только после покупать дверь, будет меньше неприятных неожиданностей и зачастую даже сэкономит ваши деньги на дополнительных работах так как размеры двери которую посоветует мастер будет максимально подходящей для вашего проёма.
section.seo
    .container
        h2.title-line Доставим и установим все виды дверей
        .seo-wrapper
            p Мы гордимся тем, что наши двери производятся в соответствии с отечественными и европейскими стандартами безопасности и качества. Это значит, что вы приобретаете у нас не просто стильные и привлекательные внешне, но
            .seo-wrapper__hidden
                p Мы гордимся тем, что наши двери производятся в соответствии с отечественными и европейскими стандартами безопасности и качества. Это значит, что вы приобретаете у нас не просто стильные и привлекательные внешне, но
                p Мы гордимся тем, что наши двери производятся в соответствии с отечественными и европейскими стандартами безопасности и качества. Это значит, что вы приобретаете у нас не просто стильные и привлекательные внешне, но
            .btn-wrapper.btn-wrapper__seo
                span.seo-open
section.contacts
    .bg-title__right Контакты
    .container
        .contacts-wrapper
            .contacts-wrapper__left
                .contacts-form__container
                    h3 Остались вопросы? Оставьте<br>заявку и мы с вами свяжемся.
                    form(class="contacts-form" id="contacts-form")
                        input(class="contacts-form__input" type="text" name="name" placeholder="Ваше имя")
                        input(class="contacts-form__input mask__input_phone" type="tel" name="phone" placeholder="Телефон*" required)
                        .contacts-form_privacy
                            input(type="checkbox" class="contacts-form__checkbox" id="privacy-contacts" name="privacy-contacts" value="yes")
                            label(for="privacy-contacts") Соглашаюсь с политикой конфидециальности
                        .btn-wrapper.btn-form__contacts
                            button(class="btn btn-light__brown") Оставить заявку
            .contacts-wrapper__right
                .contacts-list
                    .contacts-item
                        p.contacts-item__title Телефон:
                        a.contacts-item__link(href="tel:+79991233223") +7 (999) 123-32-23
                    .contacts-item
                        p.contacts-item__title E-mail:
                        a.contacts-item__link(href="mailto:dom_pod_zamkom@mail.ru") dom_pod_zamkom@mail.ru
                    .contacts-item
                        p.contacts-item__title Instagram:
                        a.contacts-item__link.contacts-item__link-inst(href="#") @dom_pod_zamkom
section.blog
    .container
        .blog-info__top
            h2.title-line Полезно знать
            .blog-info__top-subtitle
                p Металлические входные двери – не эмоциональная покупка. Для этого мы создали раздел который поможет вам, при возникновении трудностей выбора.
    .blog-img__list(data-slider="blog")
        .blog-img__item
            img(src="/static/images/general/blog-img.jpg", alt="Заголовок поста в блоге")
        .blog-img__item
            img(src="/static/images/general/action-bg.jpg", alt="Заголовок поста в блоге")
        .blog-img__item
            img(src="/static/images/general/contacts-bg.jpg", alt="Заголовок поста в блоге")
        .blog-img__item
            img(src="/static/images/general/plug.jpg", alt="Заголовок поста в блоге")
        .blog-img__item
            img(src="/static/images/general/reviews-bg.jpg", alt="Заголовок поста в блоге")
    .container
        .blog-bottom__wrapper
            .blog-bottom__wrapper-left
                .blog-preview__list
                    .blog-preview__item.blog-preview__item-active
                        img.blog-preview__item-img(src="/static/images/general/blog-img.jpg", alt="Заголовок поста в блоге")
                    .blog-preview__item
                        img.blog-preview__item-img(src="/static/images/general/action-bg.jpg", alt="Заголовок поста в блоге")
                    .blog-preview__item
                        img.blog-preview__item-img(src="/static/images/general/contacts-bg.jpg", alt="Заголовок поста в блоге")
                    .blog-preview__item
                        img.blog-preview__item-img(src="/static/images/general/plug.jpg", alt="Заголовок поста в блоге")
                    .blog-preview__item
                        img.blog-preview__item-img(src="/static/images/general/reviews-bg.jpg", alt="Заголовок поста в блоге")
            .blog-bottom__wrapper-right
                .blog-slider__nav
                    .slider-nav
                        .arrow-prev#blog-prev
                            img(src="/static/images/general/arrow-left.svg", alt="")
                        .arrow-next#blog-next
                            img(src="/static/images/general/arrow-right.svg", alt="")
                .blog-info__list(data-slider="blog")
                    .blog-info__item
                        h3.blog-info__item-title Какие двери будут в доме будущего?
                        .blog-info__item-desc
                            p В будущем вы «всегда будете дома». Входные двери обзаведутся видеокамерой в дверном глазке, микрофоном и динамиком...
                        .btn-wrapper
                            a.btn.btn-beige__outline(href="#") Подробнее
                    .blog-info__item
                        h3.blog-info__item-title 2 Какие двери будут в доме будущего?
                        .blog-info__item-desc
                            p В будущем вы «всегда будете дома». Входные двери обзаведутся видеокамерой в дверном глазке, микрофоном и динамиком...
                        .btn-wrapper
                            a.btn.btn-beige__outline(href="#") Подробнее
                    .blog-info__item
                        h3.blog-info__item-title 3 Какие двери будут в доме будущего?
                        .blog-info__item-desc
                            p В будущем вы «всегда будете дома». Входные двери обзаведутся видеокамерой в дверном глазке, микрофоном и динамиком...
                        .btn-wrapper
                            a.btn.btn-beige__outline(href="#") Подробнее
                    .blog-info__item
                        h3.blog-info__item-title 4 Какие двери будут в доме будущего?
                        .blog-info__item-desc
                            p В будущем вы «всегда будете дома». Входные двери обзаведутся видеокамерой в дверном глазке, микрофоном и динамиком...
                        .btn-wrapper
                            a.btn.btn-beige__outline(href="#") Подробнее
                    .blog-info__item
                        h3.blog-info__item-title 5 Какие двери будут в доме будущего?
                        .blog-info__item-desc
                            p В будущем вы «всегда будете дома». Входные двери обзаведутся видеокамерой в дверном глазке, микрофоном и динамиком...
                        .btn-wrapper
                            a.btn.btn-beige__outline(href="#") Подробнее