section.hero
    .container
        .hero-slider
            .hero-slider__item
                .hero-slider__item-left
                    h2.hero-title Монтаж входной двери
                    .hero-description
                        p От качества установки напрямую зависит то, как будет служить дверь, мы уделяем вопросу установки дверных конструкций самое пристальное внимание.
                    .btn-wraper
                        a.btn.btn-beige(href="#") Подробнее
                .hero-slider__item-right
                    .circle-bg
                        .circle-big
                            img(src="/static/images/general/circle-big.png", alt="")
                        .circle-small
                            img(src="/static/images/general/circle-small.png", alt="")
                    .hero-img
                        img(src="/static/images/general/slider-img.png", alt="Монтаж входной двери")
            .hero-slider__item
                .hero-slider__item-left
                    h2.hero-title Монтаж входной двери 2
                    .hero-description
                        p От качества установки напрямую зависит то, как будет служить дверь, мы уделяем вопросу установки дверных конструкций самое пристальное внимание.
                    .btn-wraper
                        a.btn.btn-beige(href="#") Подробнее
                .hero-slider__item-right
                    .circle-bg
                        .circle-big
                            img(src="/static/images/general/circle-big.png", alt="")
                        .circle-small
                            img(src="/static/images/general/circle-small.png", alt="")
                    .hero-img
                        img(src="/static/images/general/slider-img.png", alt="Монтаж входной двери")
            .hero-slider__item
                .hero-slider__item-left
                    h2.hero-title Монтаж входной двери 3
                    .hero-description
                        p От качества установки напрямую зависит то, как будет служить дверь, мы уделяем вопросу установки дверных конструкций самое пристальное внимание.
                    .btn-wraper
                        a.btn.btn-beige(href="#") Подробнее
                .hero-slider__item-right
                    .circle-bg
                        .circle-big
                            img(src="/static/images/general/circle-big.png", alt="")
                        .circle-small
                            img(src="/static/images/general/circle-small.png", alt="")
                    .hero-img
                        img(src="/static/images/general/slider-img.png", alt="Монтаж входной двери")
        .hero-slider__nav
            .slider-nav
                .arrow-prev#hero-prev
                    img(src="/static/images/general/arrow-left.svg", alt="")
                .arrow-next#hero-next
                    img(src="/static/images/general/arrow-right.svg", alt="")

section.services
    .bg-title__right Услуги
    .container
        h2.title-line Что мы предлагаем
        .service-slider__list
            .service-slider__item
                .service-slider__item-bg
                    img(src="/static/images/general/plug.jpg", alt="")
                h2.service-slider__item-title Монтаж
                p.service-slider__item-subtitle Входной двери
                .btn-wraper
                    a.btn.btn-brown(href="#") Подробнее
                .service-slider__item-descr
                    p Двери устанавливаются высококвалифицированными специалистами нашей компании. 
                    p Таким образом вы можете гарантировать высокое качество установки и долгую безотказную службу дверной конструкции.
            .service-slider__item
                .service-slider__item-bg
                    img(src="/static/images/general/plug.jpg", alt="")
                h2.service-slider__item-title Замер
                p.service-slider__item-subtitle На выезд
                .btn-wraper
                    a.btn.btn-brown(href="#") Подробнее
                .service-slider__item-descr
                    p Именно замер – наиболее ответственный этап установки дверей.
                    p Точность замера – гарантия безошибочной проектировки входной конструкции и последующей безупречной службы Ваших дверей!
            .service-slider__item
                .service-slider__item-bg
                    img(src="/static/images/general/plug.jpg", alt="")
                h2.service-slider__item-title Доставка
                p.service-slider__item-subtitle На дом
                .btn-wraper
                    a.btn.btn-brown(href="#") Подробнее
                .service-slider__item-descr
                    p Доставка выбранной дверной конструкции производится на собственном транспорте компании на следующий день после оформления заказа.
                    p При необходимости наши сотрудники поднимут дверь на нужный этаж. Время доставки выбирает заказчик.

section.action
    include ../modules/form/form

section.index-category
    .bg-title__left Товары
    .container
        h2.title-line Какие двери бывают?
        .index-category__wrap
            .index-category__wrap-left
                .index-category__list
                    .index-category__item.index-category__item_active
                        h3 Входные
                    .index-category__item
                        h3 Тамбурные
                    .index-category__item
                        h3 Противопожарные
                .index-category__list-desc
                    .index-category__item-desc.index-category__item-desc_active
                        p Это одна из визитных карточек любого дома, будь то обычная квартира, или коттедж, или даже промышленное предприятие.
                        .btn-wraper
                            a.btn.btn-light__brown(href="#") Подробнее
            .index-category__wrap-right
                .index-category__list-img
                    .index-category__item-img.index-category__item-img_active
                        .index-category__img-small
                            img(src="/static/images/general/category-small.jpg", alt="")
                        .index-category__img-big
                            img(src="/static/images/general/category-big.jpg", alt="")
                .index-category__wrap-nav
                    .index-category__wrap-nav_current 01
                    .index-category__wrap-nav_separator
                    .index-category__wrap-nav_total 02

section.index-catalog
    .container
        .catalog-slider__wrapper
            .catalog-slider__wrapper-left
                h3 Успейте купить
                .catalog-slider__nav
                    .slider-nav
                        .arrow-prev#catalog-prev
                            img(src="/static/images/general/arrow-left-brown.svg", alt="")
                        .arrow-next#catalog-next
                            img(src="/static/images/general/arrow-right-brown.svg", alt="")
            .catalog-slider__wrapper-right
                .product-slider__list
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wraper
                                a.btn.btn-light__brown(href="#") Купить
                            .btn-wraper
                                a.btn.btn-brown__outline(href="#") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wraper
                                a.btn.btn-light__brown(href="#") Купить
                            .btn-wraper
                                a.btn.btn-brown__outline(href="#") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wraper
                                a.btn.btn-light__brown(href="#") Купить
                            .btn-wraper
                                a.btn.btn-brown__outline(href="#") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wraper
                                a.btn.btn-light__brown(href="#") Купить
                            .btn-wraper
                                a.btn.btn-brown__outline(href="#") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wraper
                                a.btn.btn-light__brown(href="#") Купить
                            .btn-wraper
                                a.btn.btn-brown__outline(href="#") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wraper
                                a.btn.btn-light__brown(href="#") Купить
                            .btn-wraper
                                a.btn.btn-brown__outline(href="#") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                .slider-progress_bar#progressBarProduct(role="progressbar" aria-valuemin="0" aria-valuemax="100")

section.index-consult
    .container
        .index-consult__wrapper
            .consult-info
                h2.title-line Не знаете что выбрать?
                .consult-info__subtitle
                    p Мы готовы предложить клиентам более 2 000 металлических дверей различных стилей и ценовых категорий: от эконом-класса до элитных моделей.
            h3 Наши опытные консультанты<br>помогут с выбором.
            .btn-wraper
                a.btn.btn-brown(href="#") Оставить заявку

section.index-about
    .bg-title__right О нас
    .container
        .index-about__wrapper
            .index-about__wrapper-left
                .index-about__info-first
                    p Мы успешно работаем уже более десяти лет и гордимся заслуженными добрыми отзывами наших клиентов!
                    p Мы гарантируем своим покупателям качество нашей продукции и услуг.
                .index-about__info-link
                    a(href="#") Подробнее
                .index-about__info-second
                    p Мы гордимся тем, что наши двери производятся в соответствии с отечественными и европейскими стандартами безопасности и качества.
                    p Это значит, что вы приобретаете у нас не просто стильные и привлекательные внешне, но качественные и надёжные дверные конструкции, которые защитят вашу квартиру от холода и шума, огня и действий грабителей.
            .index-about__wrapper-right
                .index-about__img
                    img(src="/static/images/general/index-about.jpg", alt="")
        .advantage-list
            .advantage-item
                .advantage-item__img
                    img(src="/static/images/general/advantage-1.svg", alt="")
                .advantage-item__title
                   h5 Опыт
                .advantage-item__desc
                    p Мы успешно работаем уже более десяти лет
            .advantage-item
                .advantage-item__img
                    img(src="/static/images/general/advantage-2.svg", alt="")
                .advantage-item__title
                   h5 Качество
                .advantage-item__desc
                    p Даем гарантию на все виды исполняемых работ
            .advantage-item
                .advantage-item__img
                    img(src="/static/images/general/advantage-3.svg", alt="")
                .advantage-item__title
                   h5 Ассортимент
                .advantage-item__desc
                    p Мы готовы предложить  более 2 000  дверей 
            .advantage-item
                .advantage-item__img
                    img(src="/static/images/general/advantage-4.svg", alt="")
                .advantage-item__title
                   h5 Консультация
                .advantage-item__desc
                    p Большой опыт и высокое качество обслуживания

section.steps
    .container
        h2.title-line Как мы работаем?
        .step-list
            .step-item
                p.step-item__number 1
                h3.step-item__title Вы оставляете заявку<br>и наш менеджер с вами связывается
                .step-item__info
                    p Небольшой пример к чему может привести ошибка при самостоятельном выборе двери — в частных домах из бруса или бревна, если при монтаже дверного блока не предусмотреть необходимость установки плавающего бруса.
            .step-item
                p.step-item__number 2
                h3.step-item__title Согласовываем товар и виды услуг,<br>выбираем удобное для вас время
                .step-item__info
                    p Замерщик всегда с собой имеет иллюстрированный каталог дверей и панелей, а также образцы материалов и палитру цветов, с которым вы сможете ознакомиться и определиться в вашем выборе.
                    p Так же и с панелями – на некоторые модели дверей могут устанавливаться только определенные панели.
            .step-item
                p.step-item__number 3
                h3.step-item__title Привозим, и устанавливаем<br>вашу новую дверь
                .step-item__info
                    p Все дверные блоки, установленные нашей компанией находятся на гарантийном обслуживании. Срок гарантийного обслуживания на дверной блок(конструкцию) и замки — 5 лет, срок гарантии на фурнитуру и декоративные отделочные панели — 1 год.

section.action
    include ../modules/form/form

section.instagram
    .container
        .instagram-top
            h2.title-line Наши работы в Instagram
            .instagram-link
                a(href="#") @dom_pod_zamkom
            .instagram-slider__nav
                .slider-nav
                    .arrow-prev#inst-prev
                        img(src="/static/images/general/arrow-left-brown.svg", alt="")
                    .arrow-next#inst-next
                        img(src="/static/images/general/arrow-right-brown.svg", alt="")
        .instagram-slider__list
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wraper
                            a.btn.btn-light__brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wraper
                            a.btn.btn-light__brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wraper
                            a.btn.btn-light__brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wraper
                            a.btn.btn-light__brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wraper
                            a.btn.btn-light__brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wraper
                            a.btn.btn-light__brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
        .slider-progress_bar#progressBarInstagram(role="progressbar" aria-valuemin="0" aria-valuemax="100")