.container.container--page
    ul.breadcrumbs
        li.breadcrumbs-item
            a.breadcrumbs-item__link(href="/") Главная /
        li.breadcrumbs__item.breadcrumbs__item--active Отзывы
    h1.page-title Отзывы
    section.page-content
        .btn-wrapper.btn-wrapper--reviews
            a(class="btn btn__brown--outline" href="#" data-fancybox data-src="#reviewPopup") Оставить отзыв
        .page-additional(data-aos="fade-up")
            p Мы гордимся тем, что наши двери производятся в соответствии с отечественными и европейскими стандартами безопасности и качества.
        .review-list
            .review-item(data-aos="fade-left")
                p.review-item__author Ольга Понамаренко
                .review-item__info
                    p Огромное спасибо за дверь. Она превзошла все наши ожидания. Отдельное спасибо Алексею, помог с выбором, проконсультировал по всем вопросам, постоянно был с нами на связи. Бригада ребят установщик настолько бымюстро и младенно работала, что мы даже не успели, а у нас новая дверь установлена. Весь мусор убрали, в общем просто мечта. Всем рекомендую эту компанию и двери! Профессионалы своего дела!!!  Отдельное спасибо Алексею, помог с выбором, проконсультировал по всем вопросам, постоянно был с нами на связи. Бригада ребят установщик настолько бымюстро и младенно работала, что мы даже не успели, а у нас новая дверь установлена. Весь мусор убрали, в общем просто мечта. Всем рекомендую эту компанию и двери! Профессионалы своего дела!!!
                span.review-item__btn Показать полностью
            .review-item(data-aos="fade-right")
                p.review-item__author Анна
                .review-item__info
                    p Долго выбирала двери, много отзывов читала, в результате остановилась на этой фирме. И считаю, что правильно сделала. Компания работает отлично. Клиентоориентированна на 100%. Всегда на связи. От замерщиков до монтажников, грамотные специалисты. При заказе замера получила подробную инструкцию о том, что возможны дополнительные работы во время монтажа и какие виды работ.  возможны дополнительные работы во время монтажа и какие виды работ.  возможны дополнительные работы во время монтажа и какие виды работ. овилась на этой фирме. И считаю, что правильно сделала. Компания работает отлично. Клиентоориентированна на 100%. Всегда на связи. От замерщиков до монтажников, грамотные специалисты. При заказе замера получила подробную инструкцию о том, что возможны дополнительные работы во время монтажа и какие виды работ.  возможны дополнительные работы во время монтажа и какие виды работ.  возможны дополнительные работы во время монтажа и какие виды работ.
                span.review-item__btn Показать полностью
            .review-item(data-aos="fade-left")
                p.review-item__author Владимир
                .review-item__info
                    p Спасибо за дверь. Все устраивает. Дверь чувствуется сделана качественно. Все сделали как договаривались, отдельное спасибо установщику Сергею.
                span.review-item__btn Показать полностью
            .review-item(data-aos="fade-right")
                p.review-item__author Ольга Понамаренко
                .review-item__info
                    p Огромное спасибо за дверь. Она превзошла все наши ожидания. Отдельное спасибо Алексею, помог с выбором, проконсультировал по всем вопросам, постоянно был с нами на связи. Бригада ребят установщик настолько бымюстро и младенно работала, что мы даже не успели, а у нас новая дверь установлена. Весь мусор убрали, в общем просто мечта. Всем рекомендую эту компанию и двери! Профессионалы своего дела!!!
                span.review-item__btn Показать полностью
            .review-item(data-aos="fade-left")
                p.review-item__author Анна
                .review-item__info
                    p Долго выбирала двери, много отзывов читала, в результате остановилась на этой фирме. И считаю, что правильно сделала. Компания работает отлично. Клиентоориентированна на 100%. Всегда на связи. От замерщиков до монтажников, грамотные специалисты. При заказе замера получила подробную инструкцию о том, что возможны дополнительные работы во время монтажа и какие виды работ.  акие виды работ. акие виды работ. работ.  акие виды работ. акие виды работ. работ.  акие виды работ. акие виды работ.
                span.review-item__btn Показать полностью
            .review-item(data-aos="fade-right")
                p.review-item__author Владимир
                .review-item__info
                    p Спасибо за дверь. Все устраивает. Дверь чувствуется сделана качественно. Все сделали как договаривались, отдельное спасибо установщику Сергею.
                span.review-item__btn Показать полностью