.container.container--page
    section.page-content
        .page-content__search-wrapper
            form(class="search-page" action="/search" method="get")
                input(class="search-page__input form-control" type="text" name="search" id="search" placeholder="Поиск")
                input(type="hidden" name="id" value="1")
                .btn-wrapper
                    input(type="submit" class="btn btn__brown search-popup__submit" value="Найти")
            
            p.search-result__quantity Найдено: 115 товаров
            
            p.search-result__null По вашему запросу ничего не найдено. Но нам есть что вам предложить.
        
        .product-list.product-list--search
            .product-item
                .product-item__overlay
                    .btn-wrapper
                        a.btn.btn__light-brown.buy1click(href="#" data-fancybox data-src="#buy1click") Купить
                    .btn-wrapper
                        a.btn.btn__brown--outline(href="/product.html") Подробнее
                .product-item__img
                    img(src="/static/images/general/slider-img.png", alt="")
                .product-item__title(data-item-name="Гардиан ДС 2")
                    h4 Гардиан ДС 1
                .product-item__category
                    p Входные двери
                .product-item__price
                    p.actual-price 10 000 руб.
                    p.old-price 16 000 руб.
            .product-item
                .product-item__overlay
                    .btn-wrapper
                        a.btn.btn__light-brown.buy1click(href="#" data-fancybox data-src="#buy1click") Купить
                    .btn-wrapper
                        a.btn.btn__brown--outline(href="/product.html") Подробнее
                .product-item__img
                    img(src="/static/images/general/door-front.jpg", alt="")
                .product-item__title
                    h4 Гардиан ДС 2
                .product-item__category
                    p Входные двери
                .product-item__price
                    p.actual-price 10 000 руб.
                    p.old-price 16 000 руб.
            .product-item
                .product-item__overlay
                    .btn-wrapper
                        a.btn.btn__light-brown.buy1click(href="#" data-fancybox data-src="#buy1click") Купить
                    .btn-wrapper
                        a.btn.btn__brown--outline(href="/product.html") Подробнее
                .product-item__img
                    img(src="/static/images/general/slider-img.png", alt="")
                .product-item__title
                    h4 Гардиан ДС 3
                .product-item__category
                    p Входные двери
                .product-item__price
                    p.actual-price 10 000 руб.
                    p.old-price 16 000 руб.
            .product-item
                .product-item__overlay
                    .btn-wrapper
                        a.btn.btn__light-brown.buy1click(href="#" data-fancybox data-src="#buy1click") Купить
                    .btn-wrapper
                        a.btn.btn__brown--outline(href="/product.html") Подробнее
                .product-item__img
                    img(src="/static/images/general/slider-img.png", alt="")
                .product-item__title
                    h4 Гардиан ДС 4
                .product-item__category
                    p Входные двери
                .product-item__price
                    p.actual-price 10 000 руб.
                    p.old-price 16 000 руб.
            .product-item
                .product-item__overlay
                    .btn-wrapper
                        a.btn.btn__light-brown.buy1click(href="#" data-fancybox data-src="#buy1click") Купить
                    .btn-wrapper
                        a.btn.btn__brown--outline(href="/product.html") Подробнее
                .product-item__img
                    img(src="/static/images/general/slider-img.png", alt="")
                .product-item__title
                    h4 Гардиан ДС 5
                .product-item__category
                    p Входные двери
                .product-item__price
                    p.actual-price 10 000 руб.
                    p.old-price 16 000 руб.
            .product-item
                .product-item__overlay
                    .btn-wrapper
                        a.btn.btn__light-brown.buy1click(href="#" data-fancybox data-src="#buy1click") Купить
                    .btn-wrapper
                        a.btn.btn__brown--outline(href="/product.html") Подробнее
                .product-item__img
                    img(src="/static/images/general/slider-img.png", alt="")
                .product-item__title
                    h4 Гардиан ДС 6
                .product-item__category
                    p Входные двери
                .product-item__price
                    p.actual-price 10 000 руб.
                    p.old-price 16 000 руб.
            .product-item
                .product-item__overlay
                    .btn-wrapper
                        a.btn.btn__light-brown.buy1click(href="#" data-fancybox data-src="#buy1click") Купить
                    .btn-wrapper
                        a.btn.btn__brown--outline(href="/product.html") Подробнее
                .product-item__img
                    img(src="/static/images/general/slider-img.png", alt="")
                .product-item__title
                    h4 Гардиан ДС 7
                .product-item__category
                    p Входные двери
                .product-item__price
                    p.actual-price 10 000 руб.
                    p.old-price 16 000 руб.
            .product-item
                .product-item__overlay
                    .btn-wrapper
                        a.btn.btn__light-brown.buy1click(href="#" data-fancybox data-src="#buy1click") Купить
                    .btn-wrapper
                        a.btn.btn__brown--outline(href="/product.html") Подробнее
                .product-item__img
                    img(src="/static/images/general/slider-img.png", alt="")
                .product-item__title
                    h4 Гардиан ДС 8
                .product-item__category
                    p Входные двери
                .product-item__price
                    p.actual-price 10 000 руб.
                    p.old-price 16 000 руб.
            .product-item
                .product-item__overlay
                    .btn-wrapper
                        a.btn.btn__light-brown.buy1click(href="#" data-fancybox data-src="#buy1click") Купить
                    .btn-wrapper
                        a.btn.btn__brown--outline(href="/product.html") Подробнее
                .product-item__img
                    img(src="/static/images/general/slider-img.png", alt="")
                .product-item__title
                    h4 Гардиан ДС 9
                .product-item__category
                    p Входные двери
                .product-item__price
                    p.actual-price 10 000 руб.
                    p.old-price 16 000 руб.
            .product-item
                .product-item__overlay
                    .btn-wrapper
                        a.btn.btn__light-brown.buy1click(href="#" data-fancybox data-src="#buy1click") Купить
                    .btn-wrapper
                        a.btn.btn__brown--outline(href="/product.html") Подробнее
                .product-item__img
                    img(src="/static/images/general/slider-img.png", alt="")
                .product-item__title
                    h4 Гардиан ДС 10
                .product-item__category
                    p Входные двери
                .product-item__price
                    p.actual-price 10 000 руб.
                    p.old-price 16 000 руб.

        .catalog-slider__wrapper.catalog-slider__wrapper--search
            .catalog-slider__wrapper-left
                h3 Хиты продаж
                .catalog-slider__nav
                    .slider__nav
                        .arrow-prev#catalog-prev
                            img(src="/static/images/general/arrow-left-brown.svg", alt="")
                        .arrow-next#catalog-next
                            img(src="/static/images/general/arrow-right-brown.svg", alt="")
            .catalog-slider__wrapper-right
                .product-slider__list
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn__light-brown.buy1click-slider(href="#" data-fancybox data-src="#buy1click") Купить
                            .btn-wrapper
                                a.btn.btn__brown--outline(href="/product.html") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn__light-brown.buy1click-slider(href="#" data-fancybox data-src="#buy1click") Купить
                            .btn-wrapper
                                a.btn.btn__brown--outline(href="/product.html") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/door-front.jpg", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn__light-brown.buy1click-slider(href="#" data-fancybox data-src="#buy1click") Купить
                            .btn-wrapper
                                a.btn.btn__brown--outline(href="/product.html") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn__light-brown.buy1click-slider(href="#" data-fancybox data-src="#buy1click") Купить
                            .btn-wrapper
                                a.btn.btn__brown--outline(href="/product.html") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn__light-brown.buy1click-slider(href="#" data-fancybox data-src="#buy1click") Купить
                            .btn-wrapper
                                a.btn.btn__brown--outline(href="/product.html") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn__light-brown.buy1click-slider(href="#" data-fancybox data-src="#buy1click") Купить
                            .btn-wrapper
                                a.btn.btn__brown--outline(href="/product.html") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                .slider-progress_bar#progressBarProduct(role="progressbar" aria-valuemin="0" aria-valuemax="100")