section.services
    .container
        .services-wrapper
            .service-list
                .service-item
                    a.service-item__link(href="/service-detail.html")
                        img.service-item__img.service-item__img--right(src="/static/images/general/service-delivery.jpg", alt="")
                        h2.service-item__title Доставка
                .service-item
                    a.service-item__link(href="/service-detail.html")
                        img.service-item__img.service-item__img--left(src="/static/images/general/service-delivery.jpg", alt="")
                        h2.service-item__title Установка
                .service-item
                    a.service-item__link(href="/service-detail.html")
                        img.service-item__img.service-item__img--right(src="/static/images/general/service-delivery.jpg", alt="")
                        h2.service-item__title Замер