.container.page-container
    ul.breadcrumbs
        li.breadcrumbs-item
            a.breadcrumbs-item__link(href="/") Главная /
        li.breadcrumbs-item
            a.breadcrumbs-item__link(href="/services.html") Услуги /
        li.breadcrumbs-item.breadcrumbs__item--active Доставка
    h1.page-title Доставка
    section.page-content
        .page-additional
            p Обращаем ваше внимание на то, что стоимость доставки зависит от габаритов груза и расстояния транспортировки. Стоимость рассчитывается индивидуально.
        h2 Способы получения
        .service-row
            .service-col
                h3 Транспортом компании
                p Доставка выбранной  дверной конструкции производится на собственном транспорте компании на следующий день после оформления заказа.
                p При необходимости наши сотрудники поднимут дверь на нужный этаж. Время доставки выбирает заказчик. Стоимость зависит от километража, этажа, на котором проживает клиент; наличия или отсутствия в доме грузового лифта. Точную стоимость доставки рассчитывает менеджер нашей компании при оформлении заказа.
            .service-col
                h3 Самовывоз
                p Вы можете забрать заказ самостоятельно, но при этом компания не несёт ответственности за недостачу комплектующих или за повреждения дверной конструкции, которые возникли во время перевозки.
                p Для того, чтобы избежать недоразумений, следует внимательно проверить изделие заранее на предмет отсутствия повреждений, а также наличия всех необходимых комплектующих.
        .service-price__wrapper
            .service-price__left
                h3.service-price__title Стоимость доставки
                table.service-price__table
                    tbody
                        tr
                            td Доставка транспортом компании по Нижнему Новгороду
                            td от 500 ₽
                        tr
                            td Доставка транспортом компании на расстояние более 10 км от Нижнего Новгорода
                            td от 1000 ₽
                        tr
                            td Подъём двери на лифте на любой этаж
                            td бесплатно
                        tr
                            td Подъём двери без лифта
                            td от 100 ₽
            .service-price__right
                img(src="/static/images/general/service-delivery.jpg", alt="Доставка")
                
include ../blocks/common/form