.hero {
    height: 90vh;
    background: url(/static/images/general/hero-bg.jpg) 100% 100% no-repeat;
    background-size: cover;
}

.hero .container{
    height: 100%;
}

.hero-slider {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-slider__item {
    display: flex !important;
    align-items: center;
    flex-wrap: wrap;
}

.hero-slider__item-left {
    width: 45%;
}

.hero-slider__item-right {
    width: 55%;
}

h2.hero-title {
    font-size: 60px;
    font-weight: 500;
    line-height: 120%;
}

.hero-description {
    padding: 15px 0 30px 0;
}

.hero-slider__item-right {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 640px;

    .circle-bg {
        width: 95%;
        position: absolute;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;

        .circle-big {
            margin-top: -20px;

            img {
                animation-name: rotation-right;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

        }

        .circle-small {
            margin-top: -100%;

            img {
                animation-name: rotation-left;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

        }

    }

    .hero-img {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.hero-slider__nav .slider-nav {
    margin-top: -135px;
}

ul.hero-dots {
    width: 100%;
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;

    li {
        width: 100%;
        padding: 0 10px;

        button {
            width: 100%;
            background: transparent;
            border: none;
            color: transparent;
            border-bottom: 2px solid #FFF4E8;
            opacity: 0.3;
        }

    }

    li.slick-active {
        width: 100%;

        button {
            width: 100%;
            background: transparent;
            border: none;
            color: transparent;
            border-bottom: 2px solid #FFF4E8;
            opacity: 1;
        }

    }

}

.hero .slick-dotted.slick-slider {
    margin-bottom: 0;
}


//СЛАЙДЕР С УСЛУГАМИ НА ГЛАВНОЙ СТРАНИЦЕ

.services-index {
    padding: 120px 0;
    position: relative;
}

.service-slider__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}

.service-slider__item {
    width: 28%;
    position: relative;
    padding: 25px;
    height: 520px;
    color: $white;
}

.service-slider__item:nth-child(2), .service-slider__item:nth-child(5), .service-slider__item:nth-child(8)  {
    margin-top: 80px;
}

.service-slider__item:nth-child(3), .service-slider__item:nth-child(6), .service-slider__item:nth-child(9) {
    margin-top: 160px;
}

.service-slider__item-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;

    img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        background: #0E0900;
        border-radius: 8px;
        opacity: 0.5;
    }

}

h2.service-slider__item-title {
    font-size: 56px;
    line-height: 120%;
}
.service-slider__item-subtitle {
    text-align: right;
    font-size: 32px;
    line-height: 100%;
    text-transform: lowercase;
}

.service-slider__item .btn-wrapper {
    margin: 25px 0 25px 65%;
}

.action {
    background: linear-gradient(0deg, rgba(14, 9, 0, 0.5), rgba(14, 9, 0, 0.5)), url(/static/images/general/action-bg.jpg) 0% 5% no-repeat;
    padding: 35px 0;
    overflow: hidden;
}

.action-title {
    text-align: center;
    font-size: 24px;
    color: $white;
    font-weight: 400;
    margin-bottom: 25px;
}


//СЛАЙДЕР С КАТЕГОРИЯМИ ТОВАРОВ НА ГЛАВНОЙ СТРАНИЦЕ

.index-category {
    padding: 120px 0;
    position: relative;
}

.index-category__wrap {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.index-category__wrap-left {
    width: 42%;
}

.index-category__wrap-right {
    width: 58%;
}


.index-category__item {
    margin-bottom: 20px;
    opacity: 0.5;
    cursor: pointer;
    transition: .3s;
}

.index-category__item h3 {
    font-weight: 600;
    font-size: 18px;
}

.slick-current .index-category__item {
    opacity: 1;
}


.index-category__item-desc .btn-wrapper {
    margin-top: 30px;
}

.index-category__list-desc {
    width: 75%;
    margin: 30px 0;
}

.index-category__item-img {
    display: flex !important;
    justify-content: space-between;
}

.index-category__img-small {
    width: 37%;
}

.index-category__img-small img {
    height: 220px;
    object-fit: cover;
}

.index-category__img-big {
    width: 60%;
}

.index-category__img-big img {
    height: 380px;
    object-fit: cover;
}

.index-category__wrap-nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: -50px;
}

.index-category__wrap-nav_current {
    width: 70px;
    font-style: italic;
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
    color: $light_brown;
}

.index-category__wrap-nav_separator::before {
    content: '/';
    font-style: italic;
    font-weight: 300;
    font-size: 48px;
    line-height: 100%;
    color: $light_brown;
    margin: 0 10px;
}

.index-category__wrap-nav_total {
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
}

.index-category .slick-arrow {
    opacity: 0;
}

//СЛАЙДЕР С ТОВАРАМИ

.catalog-slider__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-slider__wrapper-left {
    width: 16.6%;
    padding-top: 10px;
}

.catalog-slider__wrapper-left .catalog-slider__nav {
    margin: 15px 0;
}

.catalog-slider__wrapper-right {
    width: 83.4%;
}

.product-slider__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -8px;
}

.product-slider__item {
    position: relative;
    background-color: #efefef;
    padding: 30px 20px;
    text-align: center;
    margin: 8px;
    border-radius: 8px;
    transition: .3s;
}

.product-slider__item-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
    transition: .3s;
}

.product-slider__item-overlay .btn-wrapper {
    padding: 10px 0;
}

.product-slider__item:hover .product-slider__item-overlay {
    opacity: 1;
}

.product-slider__item-img img {
    max-height: 200px;
    height: 100%;
    margin: 0 auto;
}

.product-slider__item-title h4 {
    font-weight: 600;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.product-slider__item-category p {
    font-weight: normal;
    font-size: 14px;
    opacity: 0.5;
    margin: 0;
}

.product-slider__item-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.product-slider__item-price p.actual-price {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

.product-slider__item-price p.old-price {
    font-weight: normal;
    font-size: 16px;
    opacity: 0.5;
    text-decoration-line: line-through;
    margin: 0;
}

.slider-progress_bar {
    display: block;
    width: 100%;
    margin-top: 25px;
    height: 4px;
    border-radius: 2px;
    overflow: hidden;
    background-color:#e2e2e2;
    background-image: linear-gradient(to right, $brown, $brown);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 0.4s ease-in-out;
  }

//КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА НА ГЛАВНОЙ СТРАНИЦЕ

.index-consult {
    padding: 120px 0;
}

.consult-info {
    display: flex;
}

.consult-info__subtitle {
    max-width: 400px;
    margin-left: 160px;
}

.consult-info__subtitle p {
    margin: 0;
}

.index-consult__wrapper h3 {
    font-weight: 500;
    font-size: 32px;
    margin: 40px 0 40px 120px;
}

.index-consult__wrapper .btn-wrapper {
    margin-left: 120px;
}

//ИНФОРМАЦИЯ О КОМПАНИИ НА ГЛАВНОЙ СТРАНИЦЕ

.index-about {
    position: relative;
    padding-bottom: 40px;
}

.index-about .bg-title__right {
    top: -50px;
}

.index-about__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.index-about__wrapper-left {
    position: relative;
    width: 66.6%;
    padding-left: 120px;
}

.index-about__info-first {
    width: 220px;
}

.index-about__info-first p {
    font-weight: 500;
}

.index-about__info-link {
    float: left;
    padding-top: 30px;

    a {
        color: $brown;
        font-weight: 500;
        text-decoration: none;
        transition: .3s;

        &:hover {
            color: $black;
        }

    }

}

.index-about__info-second {
    position: absolute;
    right: 15%;
    top: 100px;
    width: 260px;
}

.index-about__wrapper-right {
    width: 33.4%;
}

.index-about__img img {
    max-height: 600px;
}

//ПРЕИМУЩЕСТВА НА ГЛАВНОЙ СТРАНИЦЕ

.advantage-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}

.advantage-item {
    max-width: 220px;
    text-align: center;
}

.advantage-item__img img {
    width: 80px;
    margin: 0 auto;
}

.advantage-item__title {
    padding: 15px 0 10px 0;
}

.advantage-item__title h5 {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.advantage-item__desc p {
    margin: 0;
}

//СХЕМА НАШЕЙ РАБОТЫ НА ГЛАВНОЙ СТРАНИЦЕ

.steps {
    padding-bottom: 120px;
}

.step-item {
    position: relative;
    padding: 70px 0 0 120px;
    width: 50%;
}

.step-item:nth-child(2n) {
    margin-left: 50%;
}

p.step-item__number {
    position: absolute;
    top: -80px;
    left: 80px;
    z-index: -1;
    font-style: italic;
    font-weight: bold;
    font-size: 200px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #b7b5b3;
}

h3.step-item__title {
    font-size: 20px;
}

//СЛАЙДЕР С ПОСТАМИ ИЗ ИНСТАГРАММА

.instagram {
    padding: 80px 0;
}

.instagram-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instagram-link {
    margin-left: -20%;
}

.instagram-link a {
    position: relative;
    font-weight: 500;
    font-size: 26px;
    color: $brown;
    text-decoration: none;
    transition: .3s;

    &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 100px;
        width: 288px;
        border-bottom: 2px solid #D8A865;
        transition: .3s;
    }

    &:hover {
        color: $black;
    }

    &:hover::before {
        left: 0;
        border-bottom: 2px solid $black;
    }

}

.instagram-slider__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    margin:  0 -15px;
}

.instagram-slider__item {
    width: 25%;
    padding: 0 15px;
}

.instagram-slider__item-img {
    position: relative;
    height: 300px;
}

.instagram-slider__item-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.instagram-slider__item-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: rgba(0,0,0,0.5);
    transition: .3s;
}

.instagram-slider__item-overlay .btn-wrapper {
    padding: 10px 0;
}

.instagram-slider__item:hover .instagram-slider__item-overlay {
    opacity: 1;
}

//СЛАЙДЕР С ОТЗЫВАМИ НА ГЛАВНОЙ СТРАНИЦЕ

.index-reviews {
    padding: 120px 0;
    background: radial-gradient(50% 50% at 50% 50%, rgba(216, 168, 101, 0) 0%, #D8A865 100%), linear-gradient(0deg, rgba(216, 168, 101, 0.8), rgba(216, 168, 101, 0.8)), url(/static/images/general/reviews-bg.jpg) 0 25% no-repeat;
}

.index-reviews .bg-title__left {
    z-index: 1;
    top: 50px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:$white;
    opacity: 0.3;
}

.index-reviews__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

.index-reviews__wrapper-left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
}

.index-reviews__wrapper-left h2 {
    position: relative;
    font-weight: 500;
    font-size: 60px;
    color: $white;
    margin-top: 120px;

    &::before {
        content:'“';
        position: absolute;
        top: -30px;
        left: -120px;
        font-style: italic;
        font-weight: bold;
        font-size: 200px;
        text-transform: uppercase;
        color: $white;
    }

}

.index-reviews__wrapper-right {
    width: 50%;
}

.index-reviews__container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px;
    max-width: 360px;
    height: 420px;
    border-radius: 8px;
    background-color: $brown;
    box-shadow: 16px 16px 16px rgba(14, 9, 0, 0.1);
}

.review-slider___list {
    width: 100%;
}

.review-slider___list .slick-list {
    width: 420px;
}


.reviews-slider__nav {
    position: absolute;
    top: 20px;
    right: -45px;
}

.review-author__name {
    font-weight: 500;
    font-size: 20px;
    color: $white;
}

.review-author__text {
    color: $white;
}

.reviews-slider__dots {
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 360px;
    display: flex;
    justify-content: center;
}

.reviews-slider__dots .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.reviews-slider__dots .slick-dots li button:before {
    font-size: 8px;
    color: $white;
    transition: .2s;
}

.reviews-slider__dots .slick-dots li.slick-active button:before {
    color: $white;
    width: 20px;
    height: 20px;
    font-size: 14px;
    transition: .2s;
}

//ОТВЕТЫ НА ПОПУЛЯРНЫЕ ВОПРОСЫ НА ГЛАВНОЙ СТРАНИЦЕ

.faq {
    padding: 120px 0;
}

.accordion-list {
    padding: 40px 0;
}
  
.accordion-item {
    border-bottom: 1px solid $light_brown;
  }

.accordion-item_active .accordion-item__content {
    max-height: 275px !important;
    padding-bottom: 25px;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

.accordion-item__title {
    padding: 20px 0;
}

.accordion-item__title h3 {
    font-weight: 500;
    font-size: 20px;
    color: $black;
    position: relative;
    cursor: pointer;
    transition: color 0.5s ease;
}

.accordion-item__title:hover h3 {
    color: $brown;
    transition: color 0.5s ease;
}

.accordion-item_active .accordion-item__title h3 {
    font-weight: 500;
    font-size: 20px;
    color: $black;
    transition: color 0.5s ease;
}

.accordion-item__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
  }

.accordion-item__icon {  
    position: absolute;
    right: 0;
    top: -15%;
    height: 32px;
    width: 32px;
    z-index: 2;
    background: #D8A865;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.5;
    transition: .3s;
}

.accordion-item__icon:hover {  
    opacity: 1;
}

.accordion-item__icon:before {
    content: '';
    position: absolute;
    top: 15px;
    right: 8px;
    width: 16px;
    height: 2px;
    background: #fff;
    transition: transform 500ms ease;
}

.accordion-item__icon:after {
    content: '';
    position: absolute;
    top: 8px;
    right: 15px;
    width: 2px;
    height: 16px;
    background: #fff;
    transition: transform 500ms ease;
}

.accordion-item__icon:after {
    transform-origin: center;
}

.accordion-item__icon.accordion-item__icon_active:after {
    transform: rotate(90deg);
}

.accordion-item__icon.accordion-item__icon_active:before {
    transform: rotate(180deg);
}


//БЛОК С SEO ТЕКСТОМ

.seo {
    padding-bottom: 120px;
}

.seo-wrapper {
    padding: 0 120px;
    margin: 40px auto 0 auto;
}


.seo-wrapper__hidden {
    display: none;
    overflow: hidden;
}

.btn-wrapper__seo {
    display: flex;
    justify-content: center;
}

.seo-open {
    position: relative;
    width: 32px;
    height: 32px;
    margin-bottom: -50px;
    background: #D8A865;
    border-radius: 4px;
    text-decoration: none;
    opacity: 0.5;
    transition: .3s;
}

.seo-open::after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    top: 1px;
    left: 32%;
    color: #F2F2F2;
    cursor: pointer;
    transition: .3s;
}

.seo-open:hover {
    opacity: 1;
}

.seo-open.seo-close::after {
    transform: rotate(180deg);
}


//КОНТАКТЫ

.contacts {
    position: relative;
    background: url(/static/images/general/contacts-bg.jpg) 100% 100% no-repeat;
    background-size: 50% 550px;
    background-position-x: left;
    background-position-y: top;
    padding: 120px 0;
}

.contacts .bg-title__right {
    top: 50px;
}

.contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.contacts-wrapper__left {
    width: 58.3%;
    display: flex;
    justify-content: flex-end;
}

.contacts-form__container {
    background: #FFF4E8;
    box-shadow: 20px 20px 20px rgba(14, 9, 0, 0.12);
    border-radius: 8px;
    padding: 75px 35px;
    margin-right: -50px;
    text-align: center;
}

.contacts-form__container h3 {
    line-height: 140%;
}

.contacts-form {
    width: 90%;
    margin: 25px auto;
}

.contacts-form__input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #D8A865;
    padding: 5px 0;
    margin-bottom: 30px;
}

.contacts-form_privacy {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.contacts-form__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}


.contacts-form__checkbox+label {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.contacts-form__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.contacts-form__checkbox:checked+label::before {
    border-color: #8c8c8c;
    background-image: url(/static/images/general/checked.png);
}

.btn-form__contacts {
    margin: 40px auto 0 auto;
}


.contacts-wrapper__right {
    width: 41.7%;
}

.contacts-list {
    width: 100%;
    padding: 150px 0 0 150px;
}

.contacts-item {
    margin-bottom: 25px;
}

p.contacts-item__title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

a.contacts-item__link {
    font-weight: 500;
    font-size: 16px;
    color: $black;
    text-decoration: none;
    transition: .3s;
}

a.contacts-item__link:hover {
    color: $brown;
}

a.contacts-item__link.contacts-item__link-inst {
    color: $brown;
}

a.contacts-item__link.contacts-item__link-inst:hover {
    color: $black;
}



//СЛАЙДЕР С ЗАПИСЯМИ ИЗ БЛОГА

.blog {
    padding: 40px 0 80px 0;
}

.blog-info__top {
    display: flex;
    flex-wrap: wrap;
}

.blog-info__top-subtitle {
    max-width: 520px;
    margin-left: 160px;
}

.blog-info__top-subtitle p {
    margin: 0;
}

.blog-img__list {
    padding: 75px 0 20px 0;
}

.blog-img__item img {
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}

.blog-bottom__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.blog-bottom__wrapper-left {
    width: 58.3%;
}

.blog-preview__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.blog-preview__item {
    width: 70px !important;
    padding-bottom: 15px;
    margin: 0 10px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: .3s;

    .blog-preview__item-img {
        width: 100%;
        height: 70px;
        object-fit: cover;
    }

}

.slick-current .blog-preview__item {
    border-bottom: 4px solid $brown;
    border-radius: 2px;
}

.blog-bottom__wrapper-right {
    width: 41.7%;
    position: relative;
}

.blog-info__list {
    display: flex;
    align-items: center;
    padding: 40px;
    background: $brown;
    box-shadow: 20px 20px 20px rgba(14, 9, 0, 0.12);
    border-radius: 8px;
    width: 100%;
    margin-top: -190px;
}

h3.blog-info__item-title {
    font-size: 20px;
    line-height: 140%;
    color: $white;
}

.blog-info__item-desc {
    padding: 0 40px 20px 0;
    color: $white;
}

.blog-slider__nav {
    position: absolute;
    top: -250px;
    right: 0;
}

.blog .slick-arrow {
    opacity: 0;
}