.hero {
    height: 90vh;
    background: url(/static/images/general/hero-bg.jpg) 100% 100% no-repeat;
    background-size: cover;
}

.hero .container{
    height: 100%;
}

.hero-slider {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-slider__item {
    display: flex !important;
    align-items: center;
    flex-wrap: wrap;
}

.hero-slider__item-left {
    width: 45%;
}

.hero-slider__item-right {
    width: 55%;
}

h2.hero-title {
    font-size: 60px;
    font-weight: 500;
    line-height: 120%;
}

.hero-description {
    padding: 15px 0 30px 0;
}

.hero-slider__item-right {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 640px;

    .circle-bg {
        width: 95%;
        position: absolute;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;

        .circle-big {
            margin-top: -20px;

            img {
                animation-name: rotation-right;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

        }

        .circle-small {
            margin-top: -100%;

            img {
                animation-name: rotation-left;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

        }

    }

    .hero-img {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.hero-slider__nav .slider-nav {
    margin-top: -135px;
}

ul.hero-dots {
    width: 100%;
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;

    li {
        width: 100%;
        padding: 0 10px;

        button {
            width: 100%;
            background: transparent;
            border: none;
            color: transparent;
            border-bottom: 2px solid #FFF4E8;
            opacity: 0.3;
        }

    }

    li.slick-active {
        width: 100%;

        button {
            width: 100%;
            background: transparent;
            border: none;
            color: transparent;
            border-bottom: 2px solid #FFF4E8;
            opacity: 1;
        }

    }

}

.hero .slick-dotted.slick-slider {
    margin-bottom: 0;
}


//СЛАЙДЕР С УСЛУГАМИ НА ГЛАВНОЙ СТРАНИЦЕ

.services {
    padding: 120px 0;
    position: relative;
}

.service-slider__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}

.service-slider__item {
    width: 28%;
    position: relative;
    padding: 25px;
    height: 520px;
    color: $white;
}

.service-slider__item:nth-child(2), .service-slider__item:nth-child(5), .service-slider__item:nth-child(8)  {
    margin-top: 80px;
}

.service-slider__item:nth-child(3), .service-slider__item:nth-child(6), .service-slider__item:nth-child(9) {
    margin-top: 160px;
}

.service-slider__item-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;

    img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        background: #0E0900;
        border-radius: 8px;
        opacity: 0.5;
    }

}

h2.service-slider__item-title {
    font-size: 56px;
    line-height: 120%;
}
.service-slider__item-subtitle {
    text-align: right;
    font-size: 32px;
    line-height: 100%;
    text-transform: lowercase;
}

.service-slider__item .btn-wraper {
    margin: 25px 0 25px 65%;
}

.action {
    background: linear-gradient(0deg, rgba(14, 9, 0, 0.5), rgba(14, 9, 0, 0.5)), url(/static/images/general/action-bg.jpg) 0% 5% no-repeat;
    padding: 35px 0;
}

.action-title {
    text-align: center;
    font-size: 24px;
    color: $white;
    font-weight: 400;
    margin-bottom: 25px;
}


//СЛАЙДЕР С КАТЕГОРИЯМИ ТОВАРОВ НА ГЛАВНОЙ СТРАНИЦЕ

.index-category {
    padding: 120px 0;
    position: relative;
}

.index-category__wrap {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.index-category__wrap-left {
    width: 42%;
}

.index-category__wrap-right {
    width: 58%;
}


.index-category__item {
    margin-bottom: 20px;
    opacity: 0.5;
    cursor: pointer;
    transition: .3s;
}

.index-category__item h3 {
    font-weight: 600;
    font-size: 18px;
}



.index-category__item_active {
    opacity: 1;
}

.index-category__item-desc .btn-wraper {
    margin-top: 30px;
}

.index-category__list-desc {
    width: 75%;
    margin: 30px 0;
}

.index-category__item-img {
    display: flex;
    justify-content: space-between;
}

.index-category__img-small {
    width: 37%;
}

.index-category__img-small img {
    height: 220px;
    object-fit: cover;
}

.index-category__img-big {
    width: 60%;
}

.index-category__img-big img {
    height: 380px;
    object-fit: cover;
}

.index-category__wrap-nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: -50px;
}

.index-category__wrap-nav_current {
    font-style: italic;
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
    color: $light_brown;
}

.index-category__wrap-nav_separator::before {
    content: '/';
    font-style: italic;
    font-weight: 300;
    font-size: 48px;
    line-height: 100%;
    color: $light_brown;
    margin: 0 10px;
}

.index-category__wrap-nav_total {
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
}

//СЛАЙДЕР С ТОВАРАМИ

.catalog-slider__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-slider__wrapper-left {
    width: 16.6%;
    padding-top: 10px;
}

.catalog-slider__wrapper-left .catalog-slider__nav {
    margin: 15px 0;
}

.catalog-slider__wrapper-right {
    width: 83.4%;
}

.product-slider__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -8px;
}

.product-slider__item {
    position: relative;
    background-color: #efefef;
    padding: 30px 20px;
    text-align: center;
    margin: 8px;
    border-radius: 8px;
    transition: .3s;
}

.product-slider__item-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
    transition: .3s;
}

.product-slider__item-overlay .btn-wraper {
    padding: 10px 0;
}

.product-slider__item:hover .product-slider__item-overlay {
    opacity: 1;
}

.product-slider__item-img img {
    max-height: 200px;
    height: 100%;
    margin: 0 auto;
}

.product-slider__item-title h4 {
    font-weight: 600;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.product-slider__item-category p {
    font-weight: normal;
    font-size: 14px;
    opacity: 0.5;
    margin: 0;
}

.product-slider__item-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.product-slider__item-price p.actual-price {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

.product-slider__item-price p.old-price {
    font-weight: normal;
    font-size: 16px;
    opacity: 0.5;
    text-decoration-line: line-through;
    margin: 0;
}

.slider-progress_bar {
    display: block;
    width: 100%;
    margin-top: 25px;
    height: 4px;
    border-radius: 2px;
    overflow: hidden;
    background-color:#e2e2e2;
    background-image: linear-gradient(to right, $brown, $brown);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 0.4s ease-in-out;
  }

//КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА НА ГЛАВНОЙ СТРАНИЦЕ

.index-consult {
    padding: 120px 0;
}

.consult-info {
    display: flex;
}

.consult-info__subtitle {
    max-width: 400px;
    margin-left: 160px;
}

.consult-info__subtitle p {
    margin: 0;
}

.index-consult__wrapper h3 {
    font-weight: 500;
    font-size: 32px;
    margin: 40px 0 40px 120px;
}

.index-consult__wrapper .btn-wraper {
    margin-left: 120px;
}

//ИНФОРМАЦИЯ О КОМПАНИИ НА ГЛАВНОЙ СТРАНИЦЕ

.index-about {
    position: relative;
    padding-bottom: 40px;
}

.index-about .bg-title__right {
    top: -50px;
}

.index-about__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.index-about__wrapper-left {
    position: relative;
    width: 66.6%;
    padding-left: 120px;
}

.index-about__info-first {
    width: 220px;
}

.index-about__info-first p {
    font-weight: 500;
}

.index-about__info-link {
    float: left;
    padding-top: 30px;

    a {
        color: $brown;
        font-weight: 500;
        text-decoration: none;
        transition: .3s;

        &:hover {
            color: $black;
        }

    }

}

.index-about__info-second {
    position: absolute;
    right: 15%;
    top: 100px;
    width: 260px;
}

.index-about__wrapper-right {
    width: 33.4%;
}

.index-about__img img {
    max-height: 600px;
}

//ПРЕИМУЩЕСТВА НА ГЛАВНОЙ СТРАНИЦЕ

.advantage-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}

.advantage-item {
    max-width: 220px;
    text-align: center;
}

.advantage-item__img img {
    width: 80px;
    margin: 0 auto;
}

.advantage-item__title {
    padding: 15px 0 10px 0;
}

.advantage-item__title h5 {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.advantage-item__desc p {
    margin: 0;
}

//СХЕМА НАШЕЙ РАБОТЫ НА ГЛАВНОЙ СТРАНИЦЕ

.steps {
    padding-bottom: 120px;
}

.step-item {
    position: relative;
    padding: 70px 0 0 120px;
    width: 50%;
}

.step-item:nth-child(2n) {
    margin-left: 50%;
}

p.step-item__number {
    position: absolute;
    top: -80px;
    left: 80px;
    z-index: -1;
    font-style: italic;
    font-weight: bold;
    font-size: 200px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #b7b5b3;
}

h3.step-item__title {
    font-size: 20px;
}

//СЛАЙДЕР С ПОСТАМИ ИЗ ИНСТАГРАММА

.instagram {
    padding: 80px 0;
}

.instagram-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instagram-link {
    margin-left: -20%;
}

.instagram-link a {
    position: relative;
    font-weight: 500;
    font-size: 26px;
    color: $brown;
    text-decoration: none;
    transition: .3s;

    &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 100px;
        width: 288px;
        border-bottom: 2px solid #D8A865;
        transition: .3s;
    }

    &:hover {
        color: $black;
    }

    &:hover::before {
        left: 0;
        border-bottom: 2px solid $black;
    }

}

.instagram-slider__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    margin:  0 -15px;
}

.instagram-slider__item {
    width: 25%;
    padding: 0 15px;
}

.instagram-slider__item-img {
    position: relative;
    height: 300px;
}

.instagram-slider__item-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.instagram-slider__item-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: rgba(0,0,0,0.5);
    transition: .3s;
}

.instagram-slider__item-overlay .btn-wraper {
    padding: 10px 0;
}

.instagram-slider__item:hover .instagram-slider__item-overlay {
    opacity: 1;
}