section.blog
    .container
        .blog-info__top
            h2.title-line Полезно знать
            .blog-info__top-subtitle(data-aos="fade-up")
                p Металлические входные двери – не эмоциональная покупка. Для этого мы создали раздел который поможет вам, при возникновении трудностей выбора.
    .blog-img__list(data-slider="blog")
        .blog-img__item
            img(src="/static/images/general/blog-img.jpg", alt="Заголовок поста в блоге")
        .blog-img__item
            img(src="/static/images/general/action-bg.jpg", alt="Заголовок поста в блоге")
        .blog-img__item
            img(src="/static/images/general/contacts-bg.jpg", alt="Заголовок поста в блоге")
        .blog-img__item
            img(src="/static/images/general/plug.jpg", alt="Заголовок поста в блоге")
        .blog-img__item
            img(src="/static/images/general/reviews-bg.jpg", alt="Заголовок поста в блоге")
    .container
        .blog-bottom__wrapper
            .blog-bottom__wrapper-left
                .blog-preview__list
                    .blog-preview__item.blog-preview__item-active
                        img.blog-preview__item-img(src="/static/images/general/blog-img.jpg", alt="Заголовок поста в блоге")
                    .blog-preview__item
                        img.blog-preview__item-img(src="/static/images/general/action-bg.jpg", alt="Заголовок поста в блоге")
                    .blog-preview__item
                        img.blog-preview__item-img(src="/static/images/general/contacts-bg.jpg", alt="Заголовок поста в блоге")
                    .blog-preview__item
                        img.blog-preview__item-img(src="/static/images/general/plug.jpg", alt="Заголовок поста в блоге")
                    .blog-preview__item
                        img.blog-preview__item-img(src="/static/images/general/reviews-bg.jpg", alt="Заголовок поста в блоге")
            .blog-bottom__wrapper-right
                .blog-slider__nav
                    .slider__nav
                        .arrow-prev#blog-prev
                            img(src="/static/images/general/arrow-left.svg", alt="")
                        .arrow-next#blog-next
                            img(src="/static/images/general/arrow-right.svg", alt="")
                .blog-info__list(data-slider="blog")
                    .blog-info__item
                        h3.blog-info__item-title Какие двери будут в доме будущего?
                        .blog-info__item-desc
                            p В будущем вы «всегда будете дома». Входные двери обзаведутся видеокамерой в дверном глазке, микрофоном и динамиком...
                        .btn-wrapper
                            a.btn.btn__beige--outline(href="#") Подробнее
                    .blog-info__item
                        h3.blog-info__item-title 2 Какие двери будут в доме будущего?
                        .blog-info__item-desc
                            p В будущем вы «всегда будете дома». Входные двери обзаведутся видеокамерой в дверном глазке, микрофоном и динамиком...
                        .btn-wrapper
                            a.btn.btn__beige--outline(href="#") Подробнее
                    .blog-info__item
                        h3.blog-info__item-title 3 Какие двери будут в доме будущего?
                        .blog-info__item-desc
                            p В будущем вы «всегда будете дома». Входные двери обзаведутся видеокамерой в дверном глазке, микрофоном и динамиком...
                        .btn-wrapper
                            a.btn.btn__beige--outline(href="#") Подробнее
                    .blog-info__item
                        h3.blog-info__item-title 4 Какие двери будут в доме будущего?
                        .blog-info__item-desc
                            p В будущем вы «всегда будете дома». Входные двери обзаведутся видеокамерой в дверном глазке, микрофоном и динамиком...
                        .btn-wrapper
                            a.btn.btn__beige--outline(href="#") Подробнее
                    .blog-info__item
                        h3.blog-info__item-title 5 Какие двери будут в доме будущего?
                        .blog-info__item-desc
                            p В будущем вы «всегда будете дома». Входные двери обзаведутся видеокамерой в дверном глазке, микрофоном и динамиком...
                        .btn-wrapper
                            a.btn.btn__beige--outline(href="#") Подробнее