section.action
    .container
        h3.action-title Оставьте Ваши данные и мы свяжемся с Вами в течении 5 минут.
        form(class="action-form" id="action-form")
            input(class="action-form__input" type="text" name="name" placeholder="Ваше имя")
            input(class="action-form__input mask__input_phone" type="tel" name="phone" placeholder="Телефон*" required)
            .btn-wrapper.btn-form__action
                button(class="btn btn__light-brown" id="actionSubmit") Оставить заявку
            .action-form_privacy
                input(type="checkbox" class="action-form__checkbox" id="privacy" name="privacy" value="yes" checked onchange="document.getElementById('actionSubmit').disabled = !this.checked;")
                label(for="privacy") Соглашаюсь с политикой конфидециальности
    .action-form__success
        img(src="/static/images/general/success.svg", alt="")
        p.action-form__success-title Заявка отправлена
        p.action-form__success-subtitle Ожидайте звонка от нашего менеджера в ближайшее время