section.instagram
    .container
        .instagram-top
            h2.title-line Наши работы в Instagram
            .instagram-link
                a(href="#") @dom_pod_zamkom
            .instagram-slider__nav
                .slider__nav
                    .arrow-prev#inst-prev
                        img(src="/static/images/general/arrow-left-brown.svg", alt="")
                    .arrow-next#inst-next
                        img(src="/static/images/general/arrow-right-brown.svg", alt="")
        .instagram-slider__list
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wrapper
                            a.btn.btn__light-brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wrapper
                            a.btn.btn__light-brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wrapper
                            a.btn.btn__light-brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wrapper
                            a.btn.btn__light-brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wrapper
                            a.btn.btn__light-brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
            .instagram-slider__item
                .instagram-slider__item-img
                    img(src="/static/images/general/inst-slide.jpg", alt="Название поста")
                    .instagram-slider__item-overlay
                        .btn-wrapper
                            a.btn.btn__light-brown(href="#") Посмотреть
                .instagram-slider__item-desc
                    p Абсолютно чёрные двери из Италии  с чёрными коробами ...
        .slider-progress_bar#progressBarInstagram(role="progressbar" aria-valuemin="0" aria-valuemax="100")