//Список услуг

.service-list {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0;
}

.service-item {
    position: relative;
    text-align: center;
    padding: 80px 0;
}

a.service-item__link {
    color: $black;
    text-decoration: none;
}

h2.service-item__title {
    font-weight: normal;
    transition: .3s;
}

h2.service-item__title:hover {
    color: $brown;
}

img.service-item__img {
    position: absolute;
    top: -40px;
    min-width: 190px;
    height: 280px;
    object-fit: cover;
    opacity: 0;
    z-index: -1;
    transition: .5s;
}

img.service-item__img-right {
    right: -200px;
}

img.service-item__img-left {
    left: -200px;
}

a.service-item__link:hover img.service-item__img {
    opacity: 1;
}

a.service-item__link:hover img.service-item__img-right {
    right: -140px;
}

a.service-item__link:hover img.service-item__img-left {
    left: -140px;
}