.product-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
}

.product-wrapper__left {
    width: 62.5%;
    padding-right: 50px;
    border-right: 2px solid $beige;

    .accordion-list {
        margin-top: 40px;
    }

}

.product-image__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-image__front {
    position: relative;
    width: 40%;

    &::after {
        content: 'Внешняя отделка';
        position: absolute;
        bottom: -35px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: #9b9a9a;
    }

    img {
        width: auto;
        margin: 0 auto;
        max-height: 380px;
        height: 100%;
    }

}

.product-image__list-back {
    position: relative;
    width: 40%;

    &::after {
        content: 'Внутренняя отделка';
        position: absolute;
        bottom: -35px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: #9b9a9a;
    }

    .slick-arrow {
        opacity: 0;
    }
}

.product-image__item-back {

    img {
        width: auto;
        max-height: 380px;
        height: 100%;
        margin: 0 auto;
    }
}

.preview-back__list {
    position: relative;
    width: 20%;
    text-align: center;

    &::before {
        content: 'Цвет';
        position: absolute;
        top: -35px;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: #9b9a9a;
    }

    .slick-current .preview-back__item {
        border: 4px solid $light_brown;
    }
}

.preview-back__item {
    width: 60px !important;
    height: 60px !important;
    border: 4px solid transparent;
    border-radius: 50%;
    margin: 5px 0;
    cursor: pointer;
    transition: .3s;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}


.product-image__list {
    width: 90%;
    display: flex;
    align-items: center;
}

.product-image__item {
    width: 50%;

    img {
        width: auto;
        max-height: 380px;
        height: 100%;
        margin: 0 auto;
    }
}

.product-image__slider-nav {
    width: 10%;

    .slider__nav {
        display: block;
        float: right;

        .arrow-next, .arrow-prev {
            margin: 15px 0 15px 0;
        }
    }
}


table.product-feature__table {
    margin: 20px 0;
    border-collapse: collapse;

    tr {

        &:nth-child(2n+1) {
            background: #ebebeb;
        }

        &:nth-child(1) {
            background:#ebebeb;
        }

        td {
            padding: 15px;
            font-size: 16px;

            &:nth-child(2n+1) {
                width: 30%;
                color: #919191;
            }        
        }
    }
}

.accordion-service__item {
    margin-bottom: 30px;
}

a.accordion-item__link {
    color:$brown;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;

    :hover {
        color: $black;
    }
}

.product-wrapper__right {
    position: sticky;
    top: 120px;
    align-self: flex-start;
    width: 37.5%;
    padding-left: 50px;
}

p.product-available {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    color:#9b9a9a;
    margin: 0;

    &::after {
        content: '';
        position: absolute;
        left: 100px;
        background: url(/static/images/general/success.svg);
        background-size: 100%;
        width: 18px;
        height: 18px;
    }
}

h1.product-name {
    font-weight: 500;
    font-size: 28px;
    margin: 15px 0;
}

.product-manufacturer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

p.product-manufacturer__title {
    font-weight: 500;
    font-size: 16px;
    color:#9b9a9a;
}

a.product-manufacturer__link {
    font-weight: 500;
    color: $black;
    text-decoration: none;
    transition: .3s;

    &:hover {
        color: $brown;
    }
}

.product-manufacturer__right img {
    height: 50px;
    width: auto;
}

.product-price__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.product-price__wrapper-left {
    position: relative;
    width: 50%;
}

p.product-price {
    font-weight: 500;
    font-size: 32px;
}

p.product-price__old {
    position: absolute;
    top: -15px;
    right: 30px;
    font-size: 14px;
    text-decoration: line-through;
}

.product-price__wrapper-right {
    width: 50%;
}

.btn-wrapper__cart {
    float: right;
}

.catalog-slider__wrapper--product {
    padding-bottom: 40px;
}


@media screen and (max-width: 1350px) {

    h1.product-name {
        font-size: 26px;
    }

}

@media screen and (max-width: 1200px) {

    .product-wrapper__left {
        padding-right: 20px;
    }

    .product-wrapper__right {
        padding-left: 20px;
    }

    h1.product-name {
        font-size: 24px;
    }

    p.product-price {
        font-size: 24px;
    }

    p.product-price__old {
        right: 40px;
        font-size: 12px;
    }

}

@media screen and (max-width: 992px) {

    .product-wrapper__left {
        width: 100%;
        padding-right: 0;
        border-right: none;
        order: 2;

        .accordion-list {
            margin-top: 0;
        }
    }

    .product-image__wrapper {
        background: rgba(204, 204, 204, 0.1);
        padding: 40px 40px 60px 40px;
        border-radius: 8px;
    }

    .product-wrapper__right {
        position: relative;
        width: 100%;
        padding-left: 0;
        top: 0;
    }

    h1.product-name {
        font-size: 22px;
        margin-top: 5px;
    }

    .product-price__wrapper {
        justify-content: flex-start;
        padding: 10px 0 40px 0;
    }

    .product-price__wrapper-left {
        width: auto;
        display: flex;
        align-items: center;
    }

    p.product-price {
        font-size: 32px;
    }

    p.product-price__old {
        position: relative;
        right: 0;
        left: 0;
        padding-left: 40px;
        font-size: 16px;
    }

    .product-price__wrapper-right {
        width: auto;
        padding-left: 60px;
    }

}

@media screen and (max-width: 768px) {

    .product-image__list {
        width: 100%;
    }

    .product-image__slider-nav {
        width: 120px;
        margin: 0 auto -20px auto;

        .slider__nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-flow: row-reverse;
        }
    }

    .product-image__front {
        width: 50%;
        order: 2;
    }

    .product-image__list-back {
        width: 50%;
        order: 3;
    }

    .preview-back__list {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        margin: 20px 0;
        order: 1;
    }

    .preview-back__item {
        margin: 5px 15px;
    }

}

@media screen and (max-width: 576px) {

    .product-wrapper {
        margin: 20px 0 0 0;
    }

    .product-image__wrapper {
        padding: 40px;
    }

    .product-image__item {

        img {
            max-height: 280px;
        }
    }

    .product-image__front {
        width: 100%;
        margin-bottom: 60px;
        order: 1;

        img {
            max-height: 280px;
        }
    }

    .product-image__list-back {
        width: 100%;
        order: 2;
        margin-bottom: 60px;

        img {
            max-height: 280px;
        }
    }

    .preview-back__list {
        margin: 0;
        order: 3;

        &::before {
            display: none;
        }
    }
    

    .product-wrapper__left {

        .accordion-item__icon {
            top: -7px;
        }
    }

    table.product-feature__table tr td {
        padding: 10px;
        font-size: 12px;
    }

    p.product-available {
        font-size: 14px;

        &::after {
            left: 90px;
            top: 2px;
            width: 14px;
            height: 14px;
        }
    }

    h1.product-name {
        font-size: 22px;
        margin-top: 5px;
    }

    p.product-manufacturer__title {
        margin: 0;
    }

    .product-price__wrapper {
        padding: 20px 0 40px 0;
    }

    p.product-price {
        font-size: 21px;
    }

    p.product-price__old {
        padding-left: 0;
        margin: -20px 0 0 -20px;
        font-size: 14px;
    }

    .product-price__wrapper-right {
        padding-left: 30px;
    }

}


@media screen and (max-width: 380px) {

    .product-image__wrapper {
        padding: 20px;
    }

    .product-image__item {

        img {
            max-height: 220px;
        }
    }

    .product-image__slider-nav {
        width: 90px;
        margin: 0 auto 0px auto;
    }

    .product-image__front {

        img {
            max-height: 220px;
        }
    }

    .product-image__list-back {

        img {
            max-height: 220px;
        }
    }

    .preview-back__item {
        width: 40px !important;
        height: 40px !important;
        margin: 5px 10px;
    }

    h1.product-name {
        font-size: 18px;
    }

    .product-price__wrapper {
        padding: 0 0 40px 0;
    }

    p.product-price__old {
        padding-left: 20px;
        top: 0;
        margin: 0;
        font-size: 14px;
    }

    .product-price__wrapper-right {
        padding-left: 0;
    }

}