.faq {
    padding: 120px 0;
}

@media screen and (max-width: 1200px) {

    .faq {
        padding: 80px 0;
    }
    

}

@media screen and (max-width: 768px) {

    .faq {
        padding: 60px 0;
    }
    

}

@media screen and (max-width: 576px) {

    .faq {
        padding: 40px 0;
    }

}