.index-consult {
    padding: 120px 0;
}

.consult-info {
    display: flex;
}

.consult-info__subtitle {
    max-width: 400px;
    margin-left: 160px;

    p {
        margin: 0;
    }
}

.index-consult__wrapper {

    h3 {
        font-weight: 500;
        font-size: 32px;
        padding-right: 50%;
        margin: 40px 0 40px 120px;
    }

    .btn-wrapper {
        margin-left: 120px;
    }
}

@media screen and (max-width: 1350px) {

    .index-consult__wrapper {

        h3 {
            padding-right: 40%;
        }
    }

}

@media screen and (max-width: 1200px) {

    .index-consult__wrapper {

        h3 {
            padding-right: 30%;
        }
    }

    .consult-info__subtitle {
        margin-left: 60px;
    }

}

@media screen and (max-width: 992px) {

    .index-consult {
        padding: 80px 0;
    }    

    .index-consult__wrapper {

        h3 {
            padding-right: 10%;
        }
    }

    .consult-info__subtitle {
        max-width: 50%;
    }

}

@media screen and (max-width: 768px) {

    .index-consult {
        padding: 80px 0;
    }

    .consult-info {
        flex-wrap: wrap;
    }

    .consult-info__subtitle {
        width: 100%;
        max-width: 90%;
        margin-left: 0;
        margin-top: 40px;
    }

    .index-consult__wrapper {

        h3 {
            font-size: 28px;
            padding-right: 30%;
            margin: 40px 0 40px 0;
        }

        .btn-wrapper {
            margin-left: 0;
        }
    }

}

@media screen and (max-width: 576px) {

    .index-consult {
        padding: 40px 0 60px 0;
    }

    .index-consult__wrapper {

        h3 {
            font-size: 21px;
            padding-right: 0;
        }
    }

}