.index-about {
    position: relative;
    padding-bottom: 40px;

    .bg-title__right {
        top: -40px;
    }
}

.index-about__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.index-about__wrapper-left {
    position: relative;
    width: 66.6%;
    padding-left: 120px;
}

.index-about__info-first {
    width: 220px;

    p {
        font-weight: 500;
    }
}

.index-about__info-link {
    float: left;
    padding-top: 30px;

    a {
        color: $brown;
        font-weight: 500;
        text-decoration: none;
        transition: .3s;

        &:hover {
            color: $black;
        }
    }
}

.index-about__info-second {
    position: absolute;
    right: 15%;
    top: 100px;
    width: 260px;
}

.index-about__wrapper-right {
    width: 33.4%;
}

.index-about__img img {
    max-height: 600px;
}

@media screen and (max-width: 1200px) {

    .index-about {

        .bg-title__right {
            top: 0px;
        }
    }

    .index-about__wrapper-left {
        width: 70%;
        padding-left: 60px;
    }

    .index-about__info-first {
        width: 200px;

        p {
            font-size: 14px;
        }
    }

    .index-about__info-second {
        right: 15%;
        width: 230px;

        p {
            font-size: 14px;
        }
    }

    .index-about__wrapper-right {
        width: 30%;
    }

}

@media screen and (max-width: 992px) {

    .index-about__wrapper {
        padding-bottom: 120px;
    }

    .index-about__wrapper-left {
        padding-left: 0;
    }

    .index-about__info-second {
        top: 60px;
        right: 5%;
    }

}

@media screen and (max-width: 768px) {

    .index-about {

        .bg-title__right {
            right: 20px;
        }
    }

    .index-about__wrapper {
        padding-bottom: 0;
    }

    .index-about__wrapper-left {
        padding-left: 0;
        width: 100%;
    }

    .index-about__info-first {
        width: 300px;
    }

    .index-about__info-second {
        top: 160px;
        right: 5%;
    }

    .index-about__wrapper-right {
        width: 45%;
        padding-top: 40px;
    }

}

@media screen and (max-width: 576px) {

    .index-about {
        padding-bottom: 0;

        .bg-title__right {
            display: none;
        }
    }

    .index-about__wrapper-left {
        display: flex;
        flex-wrap: wrap;
    }

    .index-about__info-first {
        width: 100%;
    }

    .index-about__info-link {
        position: relative;
        width: 100%;
        padding-top: 20px;
        order: 2;
    }

    .index-about__info-second {
        position: relative;
        width: 100%;
        top: 0;
        right: 0;
    }

    .index-about__wrapper-right {
        display: none;
    }

}

//ПРЕИМУЩЕСТВА НА ГЛАВНОЙ СТРАНИЦЕ
.advantage-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}

.advantage-item {
    max-width: 220px;
    text-align: center;
}

.advantage-item__img {

    img {
        width: 80px;
        margin: 0 auto;
    }
}

.advantage-item__title {
    padding: 15px 0 10px 0;

    h5 {
        font-weight: 600;
        font-size: 18px;
        margin: 0;
    }
}

.advantage-item__desc {

    p {
        margin: 0;
    }
}

@media screen and (max-width: 1350px) {

    .index-about {

        .bg-title__right {
            top: 0;
        }
    }

    .advantage-list {
        margin-top: 80px;
    }

}

@media screen and (max-width: 1200px) {

    .advantage-list {
        margin-top: 120px;
    }

    .advantage-item__desc {

        p {
            font-size: 14px;
        }
    }

}

@media screen and (max-width: 992px) {

    .advantage-list {
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .advantage-item {
        max-width: none;
        width: 50%;
        margin-bottom: 60px;
        padding: 0 60px;
    }

    .advantage-item__desc {

        p {
            font-size: 14px;
        }
    }

}

@media screen and (max-width: 768px) {

    .advantage-list {
        padding: 40px 0;
    }

    .advantage-item {
        padding: 0 30px;
    }

}

@media screen and (max-width: 576px) {

    .advantage-item {
        width: 100%;
        padding: 0px 40px;
    }

}