header {
    position: fixed;
    flex: 0 0 auto;
    z-index: 99999;
    width: 100%;
    background: $beige;
}

//Фикс бага со скачком шапки при открытии fancybox
body.compensate-for-scrollbar {
    overflow: auto !important;
}

.compensate-for-scrollbar {
    margin-right: 0 !important;
}

.fancybox-container {
    z-index: 99999;
}

//Скрытие стандартной кнопки закрытия fancybox
.fancybox-slide--html .fancybox-close-small {
    display: none;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-logo {
    display: flex;
    align-items: center;

    img {
        width: 90px;
        height: auto;
    }
}

.header-contacts {
    position: relative;
    display: flex;
    flex-flow: column;
    transition: .3s;

    a {
        margin: 5px 0;
    }

    a.phone {
        font-size: 18px;
        font-weight: 600;
        color: $black;
        text-decoration: none;
        position: relative;
        transition: .3s;
    }
}

.phone-svg {
    position: absolute;
    width: 24px;
    height: 24px;
    left: -35px;
    top: 5px;

    path {
        transition: .3s;
    }
}

.header-contacts:hover .phone-svg path {
    stroke: $brown;
}

.header-contacts:hover a.phone {
    color: $brown;
}

.header-callback span {
    font-weight: 600;
    font-size: 14px;
    line-height: 125%;
    color: $brown;
    border: 1px solid $brown;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s;

    &:hover {
        background: $brown;
        color: $white;
    }
}

.header-mobile__bottom {
    display: none;
}

.header-burger {
    display: none;
}

.burger {
    width: 55px;
    padding: 0 12px;
    border: 0;
    cursor: pointer;
    background: transparent;
}
  
.burger__icon {
    display: block;
    position: relative;
    margin: 0 auto;
    background: $black;
    height: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    -webkit-transition: all 300ms;
    transition: all 300ms;

    &::before, &::after {
        content: "";
        height: 2px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        background: $black;
        -webkit-transition: all 300ms;
        transition: all 300ms;
    }

    &::before {
        top: -9px;
    }

    &::after {
        bottom: -9px;
    }
}

.header-burger__close {

    .burger__icon {
        background: transparent;

        &::before {
            top: 0px;
            transform: rotate(-45deg);
        }

        &::after {
            bottom: 0px;
            transform: rotate(45deg);
        }
    }

}

.burger__text {
    display: none;
}

.header-toolbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

ul.social-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

li.social-item {
    margin: 0 10px;
}

.header-toolbar__search {
    margin-left: 15px;
    cursor: pointer;
}

.inst-svg path, .search-svg path {
    transition: .3s;
}

.inst-svg:hover path {
    stroke: $brown;
}

.search-svg:hover path {
    stroke: $brown;
}

.nav-menu {
    position: relative;
}

ul.nav-menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li.nav-menu__item {
    float: left;
    margin: 0 5px;
    border-bottom: 2px solid transparent;
    transition: .3s;

    &:hover {
        border-bottom: 2px solid $brown;

        a {
            color: $brown;
        }
    }
}

li.nav-menu__item > a {
    display: block;
    padding: 30px 10px;
    position: relative;
    font-weight: normal;
    font-size: 16px;
    color: $black;
    text-decoration: none;
    transition: .3s;
}

li.nav-menu__item.active {
    transition: .3s;
}

li.nav-menu__item.active > a {
    color: $brown;
    transition: .3s;
}

li.nav-menu__item--parent > a {
    display: block;
    padding: 30px 10px 30px 10px;
    transition: .3s;
}

li.nav-menu__item--parent > a::after {
    content: "\f107";
    font-family: FontAwesome;
    font-weight: normal;
    width: 12px;
    height: 12px;
    position: relative;
    z-index: 9;
    right: -10px;
    top: 0;
    transition: .3s;
}

ul.nav-submenu {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    width: max-content;
    background: #fff;
    visibility: hidden;
    opacity: 0; 
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear; 

    &::before {
        content: '';
        width: 9999px;
        height: 100%;
        left: -100%;
        position: absolute;
        z-index: -1;
        background: #fff;
    }

    &::after {
        content: '';
        width: 9999px;
        height: 100%;
        right: -100%;
        position: absolute;
        z-index: -1;
        background: #fff;
    }

    li {
        padding: 15px 20px;

        a {
            color: $black !important;
            text-decoration: none;
            font-size: 16px;
            transition: .3s;

            &:hover {
                color: $brown !important;
            }
        }
    }

    ul.nav-submenu {
        position: absolute;
        left: 0;
        top: 100%;
        transition: .3s linear;
    }
} 

nav.nav-menu li:hover > .nav-submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}

li.nav-submenu__item.nav-menu__item--parent::after {
    right: -5%;
    top: 0;
}

/*
.nav-submenu__item-back {
    display: none;
}
*/

li.nav-menu__item--parent:hover ul.nav-submenu {
    position: absolute;
    opacity: 1;
    margin-left: 0;
}

li.nav-submenu__item:hover ul.nav-submenu {
    position: absolute;
    left: 0;
    opacity: 1;
    margin-left: 0;
}

@media screen and (max-width: 1350px) {

    li.nav-menu__item > a {
        font-size: 14px;
    }

    .phone-svg {
        width: 21px;
        height: 21px;
        left: -30px;
    }

    .header-contacts {

        a.phone {
            font-size: 16px;
        }
    }

}


@media screen and (max-width: 1200px) {

    ul.nav-submenu {

        li {

            a {
                font-size: 14px;
            }
        }
    }

    .header-callback {
        display: none;
    }

}

@media screen and (max-width: 992px) {

    header {
        position: relative;
        background: transparent;
    }

    .header-container {
        position: fixed;
        overflow-y: scroll;
        height: 100%;
        z-index: -999;
        display: flex;
        width: 100vw;
        min-height: 0;
        height: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
        background: #FFF4E8;
        transition: .3s;
    }

    .header-container--open {
        z-index: 9;
        width: 100vw;
        min-height: 100vh;
        height: 100%;
        opacity: 1;
        transition: .3s;
    }

    .header-logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .menu-container {
        width: 100%;
        height: auto;
        padding: 15% 0;
    }

    .nav-menu {
        height: auto;
    }

    .nav-menu__list {
        height: auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center !important;
    }

    li.nav-menu__item {
        float: inherit;
        text-align: center;
    }

    li.nav-menu__item > a {
        font-size: 18px;
    }

    ul.nav-submenu {
        display: none;
        position: relative !important;
        z-index: 999;
        top: 0;
        left: 0;
        width: auto;
        background: transparent;
        visibility: visible;
        opacity: 1;
        transform-origin: none;
        transform: none;
        transition: .3s linear;

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }


    .header-contacts, .header-callback, .header-toolbar {
        display: none;
    }

    .header-mobile__bottom {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 30px;

        .header-contacts {
            display: flex;
            justify-content: flex-start;
            width: 33.3%;
            padding-left: 30px;

            .phone-svg {
                left: 0px;
            }
        }

        .header-callback {
            display: flex;
            justify-content: center;
            width: 33.3%;
        }

        .header-toolbar {
            display: flex;
            justify-content: flex-end;
            width: 33.3%;
        }
    }

    .header-burger {
        display: block;
        position: fixed;
        top: 15px;
        right: 0;
        z-index: 9;
    }

}

@media screen and (max-width: 768px) {

    .menu-container {
        padding: 15% 0 5% 0;
    }

    .header-mobile__bottom {
        flex-flow: column;

        .header-contacts {
            align-items: center;
            justify-content: center;
            flex-flow: row;
            padding-left: 0;
            width: 100%;

            .phone-svg {
                display: block;
                position: relative;
                top: auto;
                left: auto;
                margin-right: 10px;
            }
        }

        .header-callback {
            justify-content: center;
            margin: 30px 0;
            width: 100%;
        }

        .header-toolbar {
            justify-content: center;
            width: 100%;
        }
    }

    .header-burger {
        top: 20px;
        right: 10px;
    }
    
}

@media screen and (max-width: 576px) {

    .menu-container {
        padding: 30% 0 5% 0;
    }

    li.nav-menu__item > a {
        font-size: 16px;
    }

    ul.nav-submenu li a {
        font-size: 14px;
    }

    .header-burger {
        top: 15px;
        right: 5px;
    }

}

/*
@media screen and (max-width: 770px) {

    .header-logo {
        width: 10%;
    }

    .header-logo img {
        max-width: 100%;
    }

    .header-contacts {
        width: 50%;
    }

    .header-adress {
        display: none;
    }
    .header-burger {
        display: block;
    }

    .mobile-menu__overlay, .menu-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .menu-container, .menu-container ul li ul{
        -webkit-transition: all 200ms;
        -moz-transition: all 200ms;
        transition: all 200ms;
    }
    .mobile-menu__overlay{
        display: none;
        cursor: pointer;
        z-index: 10200;
        background: rgba(0, 0, 0, 0.5);
    }
    .menu-container{
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
        width: 300px;
        padding: 10px;
        overflow: hidden;
        z-index: 99999;
        background: $brown;
    }
    .menu-container.loaded{
           -webkit-transform: translateX(0px);
           transform: translateX(0px);
    }
    .menu-container .mobile-menu__content{
        overflow: auto;
        max-height: 100%;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .menu-container ul{
        margin: 0;
        padding: 0;
    }
    .menu-container ul li{
        list-style: none;
    }
    .menu-container ul li a{
        display: block;
        padding: 20px;
        line-height: 150%;
        font-size: 16px;
        background: $brown;
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 0.5px;
    }
    .menu-container ul li.nav-menu__item--parent{
        padding-right: 50px;
        background: $brown url("/static/images/general/next.svg") right 20px center no-repeat;
        background-size: 40px;
    }
    .menu-container ul li.nav-menu__item--parent:hover{
        background: $brown url("/static/images/general/next.svg") right 20px center no-repeat;
        background-size: 40px;
    }
    .menu-container ul li.nav-submenu__item-back{
        background: url("/static/images/general/prev.svg") left 20px center no-repeat;
        background-size: 40px;
        box-sizing: border-box;
        min-height: 50px;
        color: transparent;
    }
    .menu-container ul li.nav-submenu__item-back:hover{
        background: url("/static/images/general/prev.svg") left 20px center no-repeat;
        background-size: 40px;
    }

    .menu-container ul li.nav-submenu__item-back a{
        background: #4f8a40;
    }

    .menu-container ul li a:hover{
        background: $brown;
    }
    .menu-container ul li ul{
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $beige;
        z-index: 2;
    }
    .menu-container ul li ul.loaded{
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    .menu-container ul li ul.activity{
        overflow-y: auto;
        overflow-x: hidden;
    }
    
}

@media screen and (max-width: 620px) {
    .header-contacts {
        width: 40%;
    }
}

@media screen and (max-width: 576px) {
    .header-logo {
        width: 12%;
    }
    .header-contacts {
        width: 30%;
    }
    .menu-container {
        -webkit-transform: translateX(-240px);
        -ms-transform: translateX(-240px);
        transform: translateX(-240px);
        width: 240px;
    }
    .menu-container ul li a {
        padding: 15px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
    }
}

@media screen and (max-width: 470px) {
    .header-logo {
        width: 18%;
    }
    .header-contacts {
        width: 60%;
    }
    .header-callback {
        display: none;
    }
}

@media screen and (max-width: 340px) {
    .header-logo {
        width: 20%;
        margin-right: 2%;
    }
}

*/