.blog {
    padding: 40px 0;
}

.blog-info__top {
    display: flex;
    flex-wrap: wrap;
}

.blog-info__top-subtitle {
    max-width: 520px;
    margin-left: 160px;

    p {
        margin: 0;
    }
}

.blog-img__list {
    padding: 75px 0 20px 0;
}

.blog-img__item {

    img {
        height: 600px;
        width: 100%;
        object-fit: cover;
    }
}

.blog-bottom__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.blog-bottom__wrapper-left {
    width: 58.3%;
}

.blog-preview__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.blog-preview__item {
    width: 70px !important;
    padding-bottom: 15px;
    margin: 0 10px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: .3s;

    .blog-preview__item-img {
        width: 100%;
        height: 70px;
        object-fit: cover;
    }

}

.slick-current {

    .blog-preview__item {
        border-bottom: 4px solid $brown;
        border-radius: 2px;
    }
}

.blog-bottom__wrapper-right {
    width: 41.7%;
    position: relative;
}

.blog-info__list {
    display: flex;
    align-items: center;
    padding: 40px;
    background: $brown;
    box-shadow: 20px 20px 20px rgba(14, 9, 0, 0.12);
    border-radius: 8px;
    width: 100%;
    margin-top: -190px;
}

h3.blog-info__item-title {
    font-size: 20px;
    line-height: 140%;
    color: $white;
}

.blog-info__item-desc {
    padding: 0 40px 20px 0;
    color: $white;
}

.blog-slider__nav {
    position: absolute;
    top: -250px;
    right: 0;
}

.blog .slick-arrow {
    opacity: 0;
}


@media screen and (max-width: 1350px) {

    .blog-img__item {

        img {
            height: 450px;
        }
    }

    .blog-info__item-desc {
        padding: 0 0px 20px 0;
    }

    .blog-info__list {
        margin-top: -220px;
    }

    .blog-slider__nav {
        top: -270px;
    }

}

@media screen and (max-width: 1200px) {

    .blog-img__item {

        img {
            height: 400px;
        }
    }

    .blog-info__list {
        padding: 30px;
    }

    h3.blog-info__item-title {
        font-size: 18px;
    }

    .blog-info__item-desc {

        p {
            font-size: 14px;
        }
    }

    .blog-info__top-subtitle {
        margin-left: 60px;
    }

}

@media screen and (max-width: 992px) {

    .blog-img__list {
        padding: 40px 0 20px 0;
    }

    .blog-info__top-subtitle {
        margin-left: 0;
        margin-top: 20px;
    }

    .blog-bottom__wrapper-left {
        width: 40%;
    }

    .blog-bottom__wrapper-right {
        width: 60%;
    }

    .blog-preview__list {
        margin: 0 -5px;
    }

    .blog-preview__item {
        width: 40px !important;
        padding-bottom: 5px;
        margin: 0 5px;
        border-bottom: 2px solid transparent;

        .blog-preview__item-img {
            height: 40px;
        }
    }

    .slick-current {

        .blog-preview__item {
            border-bottom: 2px solid #D8A865;
        }
    }

}

@media screen and (max-width: 768px) {

    .blog-img__item {

        img {
            height: 300px;
        }
    }

    .blog-bottom__wrapper-left {
        width: 100%;
        margin-top: 40px;
        order: 2;
    }

    .blog-bottom__wrapper-right {
        width: 100%;
    }

    .blog-info__list {
        margin-top: -140px;
    }

    .blog-slider__nav {
        top: -200px;
    }

    .blog-preview__item {
        width: 70px !important;
        padding-bottom: 15px;
        margin: 0 15px;
        border-bottom: 4px solid transparent;

        .blog-preview__item-img {
            height: 70px;
        }
    }

    .slick-current {

        .blog-preview__item {
            border-bottom: 4px solid #D8A865;
        }
    }

}

@media screen and (max-width: 576px) {

    .blog-preview__list {
        justify-content: center;
        margin: 0 -10px;
    }

    .blog-preview__item {
        width: 45px !important;
        padding-bottom: 5px;
        margin: 0 10px;
        border-bottom: 2px solid transparent;

        .blog-preview__item-img {
            height: 45px;
        }
    }

    .slick-current {

        .blog-preview__item {
            border-bottom: 4px solid #D8A865;
        }
    }

}