.instagram {
    padding: 20px 0;
}

.instagram-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instagram-link {
    margin-left: -20%;

    a {
        position: relative;
        font-weight: 500;
        font-size: 26px;
        color: $brown;
        text-decoration: none;
        transition: .3s;
    
        &::before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 100px;
            width: 288px;
            border-bottom: 2px solid #D8A865;
            transition: .3s;
        }
    
        &:hover {
            color: $black;
        }
    
        &:hover::before {
            left: 0;
            border-bottom: 2px solid $black;
        }
    }
}

.instagram-slider__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    margin:  0 -15px;
}

.instagram-slider__item {
    width: 25%;
    padding: 0 15px;
}

.instagram-slider__item-img {
    position: relative;
    height: 300px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.instagram-slider__item-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: rgba(0,0,0,0.5);
    transition: .3s;

    .btn-wrapper {
        padding: 10px 0;
    }
}

.instagram-slider__item:hover {

    .instagram-slider__item-overlay {
        opacity: 1;
    }
}

@media screen and (max-width: 1350px) {

    .instagram-slider__item-img {
        height: 260px;
    }

    .instagram-slider__item-desc {

        p {
            font-size: 14px;
        }
    }

}

@media screen and (max-width: 1200px) {

    .instagram-link {
        margin-left: -10%;

        a {
            font-size: 21px;

            &::before {
                left: 60px;
                width: 240px;
            }
        }
    }

    .instagram-slider__item-img {
        height: 220px;
    }

    .instagram-slider__item-desc {

        p {
            font-size: 12px;
        }
    }

}

@media screen and (max-width: 992px) {

    .instagram-link {
        margin-left: -35%;
    margin-top: 10%;

        a {
            font-size: 18px;

            &::before {
                left: 40px;
                width: 200px;
            }
        }
    }

    .instagram-slider__item-img {
        height: 220px;
    }

    .instagram-slider__item-desc {

        p {
            font-size: 12px;
        }
    }

}

@media screen and (max-width: 768px) {

    .instagram-top {
        flex-wrap: wrap;

        h2.title-line {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .instagram-link {
        width: 50%;
        margin-left: 0;
        margin-top: 0;
    }

    .instagram-slider__nav {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    .instagram-slider__item-img {
        height: 280px;
    }

    .instagram-slider__item-desc p {
        font-size: 14px;
    }

}

@media screen and (max-width: 576px) {

    .instagram-slider__item-img {
        height: 230px;
    }

    .instagram-slider__item-desc {

        p {
            font-size: 12px;
        }
    }

}

@media screen and (max-width: 460px) {

    .instagram-link {

        a {
            font-size: 16px;

            &::before {
                left: 0px;
                width: 180px;
            }
        }
    }

    .instagram-slider__item-img {
        height: 350px;
    }

    .instagram-slider__item-desc p {
        font-size: 14px;
    }

}