section.faq
    .container
        h2.title-line Хотите узнать больше?
        .faq-wrapper
            .accordion-list
                .accordion-item.accordion-item--active
                    .accordion-item__title
                        h3 Какова окончательная стоимость работ? <span class="accordion-item__icon accordion-item__icon--active"></span>
                    .accordion-item__content
                        p Итоговую сумму работ любой мастер может озвучить лишь после демонтажа старой двери, до начала работ можно лишь предполагать опираясь на опыт и знания а это примерно 90% вероятности попадания в точный перечень работ озвученный до и после завершения монтажа.
                        p Именно по этой причине мы советуем сначала вызвать замерщика и только после покупать дверь, будет меньше неприятных неожиданностей и зачастую даже сэкономит ваши деньги на дополнительных работах так как размеры двери которую посоветует мастер будет максимально подходящей для вашего проёма.
                .accordion-item
                    .accordion-item__title
                        h3 Какова окончательная стоимость работ? <span class="accordion-item__icon"></span>
                    .accordion-item__content
                        p Итоговую сумму работ любой мастер может озвучить лишь после демонтажа старой двери, до начала работ можно лишь предполагать опираясь на опыт и знания а это примерно 90% вероятности попадания в точный перечень работ озвученный до и после завершения монтажа.
                        p Именно по этой причине мы советуем сначала вызвать замерщика и только после покупать дверь, будет меньше неприятных неожиданностей и зачастую даже сэкономит ваши деньги на дополнительных работах так как размеры двери которую посоветует мастер будет максимально подходящей для вашего проёма.
                .accordion-item
                    .accordion-item__title
                        h3 Какова окончательная стоимость работ? <span class="accordion-item__icon"></span>
                    .accordion-item__content
                        p Итоговую сумму работ любой мастер может озвучить лишь после демонтажа старой двери, до начала работ можно лишь предполагать опираясь на опыт и знания а это примерно 90% вероятности попадания в точный перечень работ озвученный до и после завершения монтажа.
                        p Именно по этой причине мы советуем сначала вызвать замерщика и только после покупать дверь, будет меньше неприятных неожиданностей и зачастую даже сэкономит ваши деньги на дополнительных работах так как размеры двери которую посоветует мастер будет максимально подходящей для вашего проёма.