section.hero
    .container
        .hero-slider
            .hero-slider__item
                .hero-slider__item-left
                    h2.hero-title Монтаж входной двери
                    .hero-description
                        p От качества установки напрямую зависит то, как будет служить дверь, мы уделяем вопросу установки дверных конструкций самое пристальное внимание.
                    .btn-wrapper
                        a.btn.btn__beige(href="#") Подробнее
                .hero-slider__item-right
                    .circle-bg
                        .circle-big
                            img(src="/static/images/general/circle-big.png", alt="")
                        .circle-small
                            img(src="/static/images/general/circle-small.png", alt="")
                    .hero-img
                        img(src="/static/images/general/slider-img.png", alt="Монтаж входной двери")
            .hero-slider__item
                .hero-slider__item-left
                    h2.hero-title Монтаж входной двери 2
                    .hero-description
                        p От качества установки напрямую зависит то, как будет служить дверь, мы уделяем вопросу установки дверных конструкций самое пристальное внимание.
                    .btn-wrapper
                        a.btn.btn__beige(href="#") Подробнее
                .hero-slider__item-right
                    .circle-bg
                        .circle-big
                            img(src="/static/images/general/circle-big.png", alt="")
                        .circle-small
                            img(src="/static/images/general/circle-small.png", alt="")
                    .hero-img
                        img(src="/static/images/general/slider-img.png", alt="Монтаж входной двери")
            .hero-slider__item
                .hero-slider__item-left
                    h2.hero-title Монтаж входной двери 3
                    .hero-description
                        p От качества установки напрямую зависит то, как будет служить дверь, мы уделяем вопросу установки дверных конструкций самое пристальное внимание.
                    .btn-wrapper
                        a.btn.btn__beige(href="#") Подробнее
                .hero-slider__item-right
                    .circle-bg
                        .circle-big
                            img(src="/static/images/general/circle-big.png", alt="")
                        .circle-small
                            img(src="/static/images/general/circle-small.png", alt="")
                    .hero-img
                        img(src="/static/images/general/slider-img.png", alt="Монтаж входной двери")
        .hero-slider__nav
            .slider__nav
                .arrow-prev#hero-prev
                    img(src="/static/images/general/arrow-left.svg", alt="")
                .arrow-next#hero-next
                    img(src="/static/images/general/arrow-right.svg", alt="")
        .hero-progress__bar
            .hero-progress__bar-item
                <span data-slick-index="0" class="progressBar"></span>
            .hero-progress__bar-item
                <span data-slick-index="1" class="progressBar"></span>
            .hero-progress__bar-item
                <span data-slick-index="2" class="progressBar"></span>