section.index-catalog
    .container
        .catalog-slider__wrapper
            .catalog-slider__wrapper-left
                h3 Успейте купить
                .catalog-slider__nav
                    .slider__nav
                        .arrow-prev#catalog-prev
                            img(src="/static/images/general/arrow-left-brown.svg", alt="")
                        .arrow-next#catalog-next
                            img(src="/static/images/general/arrow-right-brown.svg", alt="")
            .catalog-slider__wrapper-right
                .product-slider__list
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn__light-brown.buy1click-slider(href="#" data-fancybox data-src="#buy1click") Купить
                            .btn-wrapper
                                a.btn.btn__brown--outline(href="/product.html") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn__light-brown.buy1click-slider(href="#" data-fancybox data-src="#buy1click") Купить
                            .btn-wrapper
                                a.btn.btn__brown--outline(href="/product.html") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/door-front.jpg", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn__light-brown.buy1click-slider(href="#" data-fancybox data-src="#buy1click") Купить
                            .btn-wrapper
                                a.btn.btn__brown--outline(href="/product.html") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn__light-brown.buy1click-slider(href="#" data-fancybox data-src="#buy1click") Купить
                            .btn-wrapper
                                a.btn.btn__brown--outline(href="/product.html") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn__light-brown.buy1click-slider(href="#" data-fancybox data-src="#buy1click") Купить
                            .btn-wrapper
                                a.btn.btn__brown--outline(href="/product.html") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                    .product-slider__item
                        .product-slider__item-overlay
                            .btn-wrapper
                                a.btn.btn__light-brown.buy1click-slider(href="#" data-fancybox data-src="#buy1click") Купить
                            .btn-wrapper
                                a.btn.btn__brown--outline(href="/product.html") Подробнее
                        .product-slider__item-img
                            img(src="/static/images/general/slider-img.png", alt="")
                        .product-slider__item-title
                            h4 Гардиан ДС 2
                        .product-slider__item-category
                            p Входные двери
                        .product-slider__item-price
                            p.actual-price 10 000 руб.
                            p.old-price 16 000 руб.
                .slider-progress_bar#progressBarProduct(role="progressbar" aria-valuemin="0" aria-valuemax="100")