section.index-reviews
    .bg-title__left(data-enllax-ratio="-1" data-enllax-type="foreground" data-enllax-direction="horizontal") Отзывы
    .container
        .index-reviews__wrapper
            .index-reviews__wrapper-left
                h2(data-aos="flip-down") Что о нас<br>говорят
            .index-reviews__wrapper-right
                .index-reviews__container
                    .reviews-slider__nav
                        .slider__nav
                            .arrow-prev#reviews-prev
                                img(src="/static/images/general/arrow-left.svg", alt="")
                            .arrow-next#reviews-next
                                img(src="/static/images/general/arrow-right.svg", alt="")
                    .review-slider___list
                        .review-slider___item
                            p.review-author__name Ольга Антипова
                            .review-author__text
                                p Огромное спасибо за дверь. Она превзошла все наши ожидания. Отдельное спасибо Алексею, помог с выбором, проконсультировал по всем вопросам, постоянно был с нами на связи.
                        .review-slider___item
                            p.review-author__name Ольга Антипова 2
                            .review-author__text
                                p Огромное спасибо за дверь. Она превзошла все наши ожидания. Отдельное спасибо Алексею, помог с выбором, проконсультировал по всем вопросам, постоянно был с нами на связи.
                        .review-slider___item
                            p.review-author__name Ольга Антипова 3
                            .review-author__text
                                p Огромное спасибо за дверь. Она превзошла все наши ожидания. Отдельное спасибо Алексею, помог с выбором, проконсультировал по всем вопросам, постоянно был с нами на связи.
                        .review-slider___item
                            p.review-author__name Ольга Антипова 4
                            .review-author__text
                                p Огромное спасибо за дверь. Она превзошла все наши ожидания. Отдельное спасибо Алексею, помог с выбором, проконсультировал по всем вопросам, постоянно был с нами на связи.  
                    .reviews-slider__dots