section.index-brands
    .container
        h2.title-line Бренды
        //.brands-slider__nav
                    .slider__nav
                        .arrow-prev#brend-prev
                            img(src="/static/images/general/arrow-left-brown.svg", alt="")
                        .arrow-next#brend-next
                            img(src="/static/images/general/arrow-right-brown.svg", alt="")
        .brand-slider__list
            .brand-slider__item
                a.brand-slider__item-link(href="/brand-detail.html")
                    img.brand-slider__item-img(src="/static/images/general/logo-manuf.png", alt="")
            .brand-slider__item
                a.brand-slider__item-link(href="/brand-detail.html")
                    img.brand-slider__item-img(src="/static/images/general/logo-manuf.png", alt="")
            .brand-slider__item
                a.brand-slider__item-link(href="/brand-detail.html")
                    img.brand-slider__item-img(src="/static/images/general/logo-manuf.png", alt="")
            .brand-slider__item
                a.brand-slider__item-link(href="/brand-detail.html")
                    img.brand-slider__item-img(src="/static/images/general/logo-manuf.png", alt="")
            .brand-slider__item
                a.brand-slider__item-link(href="/brand-detail.html")
                    img.brand-slider__item-img(src="/static/images/general/logo-manuf.png", alt="")