section.index-consult
    .container
        .index-consult__wrapper
            .consult-info
                h2.title-line Не знаете что выбрать?
                .consult-info__subtitle(data-aos="fade-up")
                    p Мы готовы предложить клиентам более 2 000 металлических дверей различных стилей и ценовых категорий: от эконом-класса до элитных моделей.
            h3(data-aos="fade-up") Наши опытные консультанты<br>помогут с выбором.
            .btn-wrapper
                a.btn.btn__brown(href="#" data-fancybox data-src="#consult" data-aos="fade-up") Оставить заявку