section.index-category
    .bg-title__left(data-enllax-ratio="-1" data-enllax-type="foreground" data-enllax-direction="horizontal") Товары
    .container
        h2.title-line Какие двери бывают?
        .index-category__wrap
            .index-category__wrap-left
                .index-category__list
                    .index-category__item.index-category__item--active
                        h3 Входные
                    .index-category__item
                        h3 Тамбурные
                    .index-category__item
                        h3 Противопожарные
                .index-category__list-desc(data-slider="category")
                    .index-category__item-desc
                        p Это одна из визитных карточек любого дома, будь то обычная квартира, или коттедж, или даже промышленное предприятие.
                        .btn-wrapper
                            a.btn.btn__light-brown(href="/catalog-list.html") Подробнее
                    .index-category__item-desc
                        p 2 Это одна из визитных карточек любого дома, будь то обычная квартира, или коттедж, или даже промышленное предприятие.
                        .btn-wrapper
                            a.btn.btn__light-brown(href="/catalog-list.html") Подробнее
                    .index-category__item-desc
                        p 3 Это одна из визитных карточек любого дома, будь то обычная квартира, или коттедж, или даже промышленное предприятие.
                        .btn-wrapper
                            a.btn.btn__light-brown(href="/catalog-list.html") Подробнее
            .index-category__wrap-right
                .index-category__list-img(data-slider="category")
                    .index-category__item-img
                        .index-category__img-small
                            img(src="/static/images/general/category-small.jpg", alt="")
                        .index-category__img-big
                            img(src="/static/images/general/category-big.jpg", alt="")
                    .index-category__item-img
                        .index-category__img-small
                            img(src="/static/images/general/category-big.jpg", alt="")
                        .index-category__img-big
                            img(src="/static/images/general/category-small.jpg", alt="")
                    .index-category__item-img
                        .index-category__img-small
                            img(src="/static/images/general/category-small.jpg", alt="")
                        .index-category__img-big
                            img(src="/static/images/general/category-big.jpg", alt="")
                .index-category__wrap-nav
                    .index-category__wrap-nav__current  0<span id="current">1</span>
                    .index-category__wrap-nav__separator
                    .index-category__wrap-nav__total 0<span id="total">0</span>