section.index-about
    .bg-title__right(data-enllax-ratio="1" data-enllax-type="foreground" data-enllax-direction="horizontal") О нас
    .container
        .index-about__wrapper
            .index-about__wrapper-left
                .index-about__info-first(data-enllax-ratio=".1" data-enllax-type="foreground")
                    p Мы успешно работаем уже более десяти лет и гордимся заслуженными добрыми отзывами наших клиентов!
                    p Мы гарантируем своим покупателям качество нашей продукции и услуг.
                .index-about__info-link(data-enllax-ratio=".1" data-enllax-type="foreground")
                    a(href="/about.html") Подробнее
                .index-about__info-second(data-enllax-ratio="-.1" data-enllax-type="foreground")
                    p Мы гордимся тем, что наши двери производятся в соответствии с отечественными и европейскими стандартами безопасности и качества.
                    p Это значит, что вы приобретаете у нас не просто стильные и привлекательные внешне, но качественные и надёжные дверные конструкции, которые защитят вашу квартиру от холода и шума, огня и действий грабителей.
            .index-about__wrapper-right
                .index-about__img
                    img(src="/static/images/general/index-about.jpg", alt="")
        .advantage-list
            .advantage-item(data-aos="zoom-in" data-aos-duration="300")
                .advantage-item__img
                    img(src="/static/images/general/advantage-1.svg", alt="")
                .advantage-item__title
                   h5 Опыт
                .advantage-item__desc
                    p Мы успешно работаем уже более десяти лет
            .advantage-item(data-aos="zoom-in" data-aos-duration="600")
                .advantage-item__img
                    img(src="/static/images/general/advantage-2.svg", alt="")
                .advantage-item__title
                   h5 Качество
                .advantage-item__desc
                    p Даем гарантию на все виды исполняемых работ
            .advantage-item(data-aos="zoom-in" data-aos-duration="900")
                .advantage-item__img
                    img(src="/static/images/general/advantage-3.svg", alt="")
                .advantage-item__title
                   h5 Ассортимент
                .advantage-item__desc
                    p Мы готовы предложить  более 2 000  дверей 
            .advantage-item(data-aos="zoom-in" data-aos-duration="1200")
                .advantage-item__img
                    img(src="/static/images/general/advantage-4.svg", alt="")
                .advantage-item__title
                   h5 Консультация
                .advantage-item__desc
                    p Большой опыт и высокое качество обслуживания