section.seo
    .container
        h2.title-line Доставим и установим все виды дверей
        .seo-wrapper
            p Мы гордимся тем, что наши двери производятся в соответствии с отечественными и европейскими стандартами безопасности и качества. Это значит, что вы приобретаете у нас не просто стильные и привлекательные внешне, но
            .seo-wrapper__hidden
                p Мы гордимся тем, что наши двери производятся в соответствии с отечественными и европейскими стандартами безопасности и качества. Это значит, что вы приобретаете у нас не просто стильные и привлекательные внешне, но
                p Мы гордимся тем, что наши двери производятся в соответствии с отечественными и европейскими стандартами безопасности и качества. Это значит, что вы приобретаете у нас не просто стильные и привлекательные внешне, но
            .btn-wrapper.btn-wrapper__seo
                span.seo-open