section.services-index
    .bg-title__right(data-enllax-ratio="1" data-enllax-type="foreground" data-enllax-direction="horizontal") Услуги
    .container
        h2.title-line Что мы предлагаем
        .service-slider__list
            .service-slider__item(data-enllax-ratio=".1" data-enllax-type="foreground")
                .service-slider__item-bg
                    img(src="/static/images/general/plug.jpg", alt="")
                h2.service-slider__item-title Монтаж
                p.service-slider__item-subtitle Входной двери
                .btn-wrapper
                    a.btn.btn__brown(href="/service-detail.html") Подробнее
                .service-slider__item-descr
                    p Двери устанавливаются высококвалифицированными специалистами нашей компании. 
                    p Таким образом вы можете гарантировать высокое качество установки и долгую безотказную службу дверной конструкции.
            .service-slider__item(data-enllax-ratio=".3" data-enllax-type="foreground")
                .service-slider__item-bg
                    img(src="/static/images/general/plug.jpg", alt="")
                h2.service-slider__item-title Замер
                p.service-slider__item-subtitle На выезд
                .btn-wrapper
                    a.btn.btn__brown(href="/service-detail.html") Подробнее
                .service-slider__item-descr
                    p Именно замер – наиболее ответственный этап установки дверей.
                    p Точность замера – гарантия безошибочной проектировки входной конструкции и последующей безупречной службы Ваших дверей!
            .service-slider__item(data-enllax-ratio=".5" data-enllax-type="foreground")
                .service-slider__item-bg
                    img(src="/static/images/general/plug.jpg", alt="")
                h2.service-slider__item-title Доставка
                p.service-slider__item-subtitle На дом
                .btn-wrapper
                    a.btn.btn__brown(href="/service-detail.html") Подробнее
                .service-slider__item-descr
                    p Доставка выбранной дверной конструкции производится на собственном транспорте компании на следующий день после оформления заказа.
                    p При необходимости наши сотрудники поднимут дверь на нужный этаж. Время доставки выбирает заказчик.