section.steps
    .container
        h2.title-line Как мы работаем?
        .step-list
            .step-item
                p.step-item__number(data-aos="fade-right" data-aos-offset="100") 1
                h3.step-item__title(data-aos="fade-right" data-aos-offset="200") Вы оставляете заявку<br>и наш менеджер с вами связывается
                .step-item__info(data-aos="fade-right" data-aos-offset="300")
                    p Небольшой пример к чему может привести ошибка при самостоятельном выборе двери — в частных домах из бруса или бревна, если при монтаже дверного блока не предусмотреть необходимость установки плавающего бруса.
            .step-item
                p.step-item__number(data-aos="fade-left" data-aos-offset="100") 2
                h3.step-item__title(data-aos="fade-left" data-aos-offset="200") Согласовываем товар и виды услуг,<br>выбираем удобное для вас время
                .step-item__info(data-aos="fade-left" data-aos-offset="300")
                    p Замерщик всегда с собой имеет иллюстрированный каталог дверей и панелей, а также образцы материалов и палитру цветов, с которым вы сможете ознакомиться и определиться в вашем выборе.
                    p Так же и с панелями – на некоторые модели дверей могут устанавливаться только определенные панели.
            .step-item
                p.step-item__number(data-aos="fade-right" data-aos-offset="100") 3
                h3.step-item__title(data-aos="fade-right" data-aos-offset="200") Привозим, и устанавливаем<br>вашу новую дверь
                .step-item__info(data-aos="fade-right" data-aos-offset="300")
                    p Все дверные блоки, установленные нашей компанией находятся на гарантийном обслуживании. Срок гарантийного обслуживания на дверной блок(конструкцию) и замки — 5 лет, срок гарантии на фурнитуру и декоративные отделочные панели — 1 год.