h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.01em;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 160%;
  letter-spacing: 0.01em;
  margin: 15px 0;
}

@media screen and (max-width: 576px) {

  p {
    font-size: 14px;
  }

}

a {
  letter-spacing: 0.01em;
}

a, a:visited, a:focus, a:active, a:hover {
  outline: 0 none !important;
}

h2.title-line {
    position: relative;
    font-size: 24px;
    padding-left: 120px;
  
    &::before {
      content: '';
        position: absolute;
        width: 100px;
        top: 15px;
        left: 0;
        border-bottom: 1px solid #0E0900;
    }
}
  
@media screen and (max-width: 576px) {
  
    h2.title-line {
      font-size: 18px;
      padding-left: 80px;
  
      &::before {
        width: 60px;
        top: 10px;
        left: 0;
      }
    }
  
}
  
.bg-title__right {
    position: absolute;
    right: 0;
    top: 100px;
    z-index: -1;
    font-style: italic;
    font-weight: bold;
    font-size: 200px;
    line-height: 120%;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #b7b5b3;
    letter-spacing: 0.1em;
}
  
.bg-title__left {
    position: absolute;
    left: 0;
    top: 100px;
    z-index: -1;
    font-style: italic;
    font-weight: bold;
    font-size: 200px;
    line-height: 120%;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #b7b5b3;
    letter-spacing: 0.1em;
}
  
@media screen and (max-width: 1350px) {
  
    .bg-title__right, .bg-title__left {
      font-size: 160px;
    }
  
}
  
@media screen and (max-width: 1200px) {
  
    .bg-title__right, .bg-title__left {
      font-size: 140px;
    }
    
}
  
@media screen and (max-width: 992px) {
  
    .bg-title__right, .bg-title__left {
      font-size: 120px;
    }
    
}
  
@media screen and (max-width: 768px) {
  
    .bg-title__right, .bg-title__left {
      font-size: 80px;
    }
  
}
  
@media screen and (max-width: 576px) {
  
    .bg-title__right, .bg-title__left {
      font-size: 60px;
    }
  
}
  
h1.page-title {
    border-top: 1px solid $brown;
    border-bottom: 1px solid $brown;
    padding: 12px 0 16px 0;
    margin: 32px 0 80px 0;
}

@media screen and (max-width: 1200px) {

  h1.page-title {
    font-size: 56px;
    margin: 50px 0;
  }

}

@media screen and (max-width: 992px) {

  h1.page-title {
    font-size: 48px;
    margin: 40px 0;
  }

}

@media screen and (max-width: 768px) {

  h1.page-title {
    font-size: 38px;
    margin: 30px 0;
  }

}

@media screen and (max-width: 576px) {

  h1.page-title {
    font-size: 24px;
    margin: 20px 0;
  }

}
  
  
.page-additional {
    width: 42%;
    margin: -30px auto 60px auto;
  
    p {
      font-weight: 500;
      margin: 0;
    }
}

@media screen and (max-width: 1200px) {

  .page-additional {
    width: 50%;
  }

}

@media screen and (max-width: 992px) {

  .page-additional {
    width: 100%;
    margin: 0px auto 60px auto;
  }

}

@media screen and (max-width: 768px) {

  .page-additional {
    margin: 0px auto 40px auto;
  }

}

@media screen and (max-width: 576px) {

  .page-additional {
    margin: 0 0 15px 0;
  }

}